.DropdownContent,
.DropdownSubContent {
    border-radius: var(--radius-8, 8px);
    border: 1px solid var(--color-border-subtlest, #e6e6e6);
    background: var(--color-background-neutral-subtlest-default, #fff);
    box-shadow: var(--space-0) var(--space-25) var(--space-125) var(--space-0)
        var(--color-transparent-10020, rgba(0, 0, 0, 0.2));
    z-index: 400;
}
