@keyframes listIn {
    from {
        opacity: .5;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Dropdown {
    display: inline-block;
    position: relative;
    font: {
        family: var(--font-family-primary);
        size: var(--font-size-normal);
    }

    &__list-items {
        overflow: auto;
        overflow-x: hidden;
    }
    &__heading {
        background-color: var(--color-neutral-25);
        border-bottom: {
            color: var(--color-neutral-40);
            style: solid;
            width: var(--line-normal);
        }
        color: var(--color-foreground);
        font-weight: var(--font-weight-bold);
        padding: var(--spacing-3x);
        white-space: nowrap;
    }
    &__highlight {
        font-weight: var(--font-weight-bold);
    }
    &__filter {
        padding: var(--spacing-3x);
        background-color: var(--color-neutral-25);
        border-bottom: {
            color: var(--color-neutral-40);
            style: solid;
            width: var(--line-normal);
        }
    }
    &__caret {
        height: var(--spacing-3x);
        margin-left: var(--spacing-2x);
        fill: var(--color-background);
        transition: transform var(--transition-duration);

        &--disabled {
            fill: var(--color-background);
        }
        &--expanded {
            transform: rotate(180deg);
        }
    }
    &--isBlock {
        display: block;
    }
    &--context {
        &_neutral {
            .Dropdown__caret {
                fill: var(--color-foreground);

                &--disabled {
                    fill: var(--color-neutral-75);
                }
            }
        }
        &_link {
            .Dropdown__caret {
                fill: var(--link-color-normal);

                &--disabled {
                    fill: var(--link-color-disabled);
                }
            }
        }
    }
}
