.SelectAllSuggestions {
    composes: OneUI-label-text-bold from global;
    padding: var(--space-150);
    border-bottom: 1px solid var(--color-border-subtle);

    &:focus-visible {
        outline: 2px solid var(--color-info-20, #99CAFF);
    }

    &:has(label:hover),
    &--isHighlighted {
        background: var(--color-background-neutral-subtlest-hover, #E6E6E6);
    }

    &:has(label:active) {
        background: var(--color-background-neutral-subtlest-pressed, #CCC);
    }

    &--disabled {
        &:focus-visible,
        &:has(label:hover),
        &.SelectAllSuggestions--isHighlighted,
        &:has(label:active) {
            background: var(--color-background-neutral-subtlest-disabled, #FFF);
        }
    }
}