.SelectButton {
    box-sizing: border-box;
    border: var(--line-normal) solid transparent;
    padding: var(--spacing-2x) var(--spacing-4x);
    line-height: var(--line-height-normal);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    color: var(--color-neutral-75);
    font-weight: var(--font-weight-bold);

    &:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &:hover {
        background: var(--color-neutral-25);
    }

    + .SelectButton {
        box-shadow: -1px 0 0 0 var(--color-background);
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &--isSelected.SelectButton--context_neutral {
        border-color: var(--color-neutral-60);
        background-color: var(--color-neutral-60);
        color: var(--color-background);

        &:focus,
        &:active {
            z-index: 999;
            box-shadow: 0 0 0 var(--spacing-normal) var(--color-light-25);
        }
    }

    &--isSelected.SelectButton--context {
        @each $context in (info, success, warning, danger, primary) {
            &_#{$context} {
                border-color: var(--color-#{$context});
                background-color: var(--color-#{$context});
                color: var(--color-background);
                font-weight: var(--font-weight-bold);

                &:hover {
                    border-color: var(--color-#{$context}-60);
                    background-color: var(--color-#{$context}-60);
                }

                &:focus,
                &:active {
                    z-index: 999;
                    box-shadow: 0 0 0 var(--spacing-normal) var(--color-#{$context}-25);
                }
            }
        }
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal) var(--spacing-2x);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x) var(--spacing-5x);
        }
    }

    &--isEqualWidth {
        flex-grow: 1;
        flex-basis: 0;
    }

    &--isBlock {
        flex-grow: 1;
    }
}
