.SelectButton {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 -4px 0 var(--color-neutral-25);
    height: 38px;
    box-sizing: border-box;
    padding: var(--spacing-2x);
    border: 1px solid var(--color-neutral-25);
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &:hover,
    &:focus {
        background: var(--color-neutral-10);
        outline: none;
    }

    &--isSelected.SelectButton--selectedContext_neutral {
        background-color: var(--color-neutral-25);
        box-shadow: inset 0 -4px 0 var(--color-neutral-40);

        &:hover {
            background-color: var(--color-neutral-25);
        }
    }

    &--isSelected.SelectButton--selectedContext_brand {
        background-color: var(--color-brand);
        color: var(--color-background);
        box-shadow: inset 0 -4px 0 var(--color-brand-25);

        &:hover {
            background-color: var(--color-brand);
        }
    }

    &--isEqualWidth {
        flex-grow: 1;
    }
}
