@import '../../../themes/oneui/oneui';

.SelectButton {
    box-sizing: border-box;
    border: var(--line-normal) solid transparent;
    padding: var(--spacing-2x) var(--spacing-4x);
    line-height: var(--line-height-normal);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    color: var(--color-neutral-80);
    font-weight: var(--font-weight-bold);

    &:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &:hover {
        background: var(--color-neutral-30);
    }

    + .SelectButton {
        box-shadow: -1px 0 0 0 var(--color-background);
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &--isSelected.SelectButton {
        border-color: var(--color-brand-50);
        background-color: var(--color-brand-50);
        color: var(--color-background);
        font-weight: var(--font-weight-bold);

        &:hover {
            border-color: var(--color-brand-60);
            background-color: var(--color-brand-60);
        }

    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal) var(--spacing-2x);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x) var(--spacing-5x);
        }
    }

    &--isEqualWidth {
        flex-grow: 1;
        flex-basis: 0;
    }

    &--isBlock {
        flex-grow: 1;
    }
}
