.SelectButton {
    // height: 38px;
    box-sizing: border-box;
    padding: var(--spacing-3x) var(--spacing-4x);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    color: var(--color-neutral-75);
    font-weight: var(--font-weight-bold);

    &:first-child {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &:hover {
        background: var(--color-neutral-25);
    }

    + .SelectButton {
        box-shadow: -1px 0 0 0 var(--color-background);
    }

    &--isSelected.SelectButton--selectedContext_neutral {
        background-color: var(--color-neutral-60);
        color: var(--color-background);

        &:focus,
        &:active {
            z-index: 999;
            box-shadow: 0 0 0 var(--spacing-normal) var(--color-neutral-25);
        }
    }

    &--isSelected.SelectButton--selectedContext_good {
        background-color: var(--color-good);
        color: var(--color-background);
        font-weight: var(--font-weight-bold);

        &:hover {
            background-color: var(--color-good-60);
        }

        &:focus,
        &:active {
            z-index: 999;
            box-shadow: 0 0 0 var(--spacing-normal) var(--color-good-25);
        }
    }

    &--isSelected.SelectButton--selectedContext_brand {
        background-color: var(--color-brand);
        color: var(--color-background);
        font-weight: var(--font-weight-bold);

        &:hover {
            background-color: var(--color-brand-60);
        }

        &:focus,
        &:active {
            z-index: 999;
            box-shadow: 0 0 0 var(--spacing-normal) var(--color-brand-25);
        }
    }

    &--size_small {
        font-size: var(--font-size-small);
        padding: var(--spacing-2x) var(--spacing-2x);
    }

    &--size_large {
        font-size: var(--font-size-large);
        padding: var(--spacing-4x) var(--spacing-5x);
    }

    &--isEqualWidth {
        flex-grow: 1;
        flex-basis: 0;
    }

    &--isBlock {
        flex-grow: 1;
    }
}
