@import '../../themes/oneui/oneui';

.Teaser {
    min-width: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 63px;
    color: var(--color-neutral-60);

    &__line {
        display: flex;
        flex: 1;
        align-items: center;
        padding-bottom: var(--spacing-2x);

        &:last-child {
            padding-bottom: 0;
            justify-content: flex-end;
        }
    }

    &__title {
        font-weight: var(--font-weight-bold);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__location {
        white-space: nowrap;

        &::before {
            content: '\00a0\2014\00a0';
        }
    }

    &__subTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__details {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__statuses {
        padding-left: var(--spacing-5x);
    }
}
