.SelectedItemBadge {
    width: 100%;
    height: var(--space-400);
    border: 1px solid var(--color-border-subtle);
    border-radius: var(--space-100);
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &__optionText {
        max-width: var(--space-600);
        min-width: var(--space-200);
        color: var(--color-text-info-default);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 0;
    }

    &__optionButton {
        width: 100%;
        height: 100%;
        padding: 0 var(--space-100);
        border-radius: inherit;
        background-color: var(--transparent);
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-50);
        flex-grow: 1;

        cursor: pointer;

        &:focus-visible {
            box-shadow: 0 0 0 var(--space-25) var(--color-info-20, #99caff);
            outline: none;
        }

        &:hover:not([disabled]) {
            background-color: var(--color-background-neutral-subtlest-hover);
        }

        &:active:not([disabled]) {
            background-color: var(--color-background-neutral-subtlest-pressed);
        }

        &[disabled] .SelectedItemBadge__optionText {
            color: var(--color-text-info-disabled);
        }

        &--hasPriorityList {
            border-left: 1px solid var(--color-border-subtlest);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &--onDelete {
            border-right: 1px solid var(--color-border-subtlest);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &[data-state='open'] {
            pointer-events: auto;
            background-color: var(--color-background-selected-subtlest-default);

            &:hover {
                background-color: var(--color-background-selected-subtlest-hover);
            }

            &:active:not([disabled]) {
                background-color: var(--color-background-selected-subtlest-pressed);
            }

            &[disabled] {
                background-color: var(--color-background-selected-subtlest-default);
            }
        }
    }

    &__valueContainer {
        width: 100%;
        height: 100%;
        padding: 0 var(--space-100);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-50);
        overflow: auto;
        cursor: default;

        &--hasPriorityList {
            border-left: 1px solid var(--color-border-subtle);
        }

        &--onDelete {
            border-right: 1px solid var(--color-border-subtle);
        }
    }

    &__valueText {
        max-width: 136px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__badgeDropdownList {
        max-height: 440px;
        border-radius: var(--space-100);
        z-index: 600;
        overflow-y: auto;
    }

    &__badgeListItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--space-100);
    }

    .SelectedItemBadge__priorityButton {
        padding: var(--space-100);
        border-radius: var(--space-100) 0 0 var(--space-100);
        flex-shrink: 0;
    }

    .SelectedItemBadge__deleteButton {
        padding: var(--space-100);
        border-radius: 0 var(--space-100) var(--space-100) 0;
        flex-shrink: 0;

        & svg {
            fill: var(--color-icon-subtle);
        }

        &[disabled] & svg {
            fill: var(--color-icon-disabled);
        }
    }
}
