// Basic colors
$transparent:       transparent;
:root {
    --transparent: #{ $transparent };
}

$color-background:  #FFF;
$color-foreground:  #1D1D1B;

$color-neutral:     #D0D1D5;
$color-brand:       #009CC1;
$color-primary:     #F18700;
$color-accent:      #182642;
$color-info:        #60C4DE;
$color-good:        #5CB85C;
$color-warning:     #FFB819;
$color-bad:         #F42534;

@each $context, $value in (
    background: $color-background,
    foreground: $color-foreground,
    neutral: $color-neutral,
    brand: $color-brand,
    primary: $color-primary,
    accent: $color-accent,
    info: $color-info,
    good: $color-good,
    warning: $color-warning,
    bad: $color-bad
) {
    :root {
        --color-#{ $context }: #{ $value };
    }
}


// Shades
@each $context, $value in (
    neutral: $color-neutral,
    brand: $color-brand,
    primary: $color-primary,
    accent: $color-accent,
    info: $color-info,
    good: $color-good,
    warning: $color-warning,
    bad: $color-bad
) {
    @each $factor in (20, 50) {
        :root {
            --color-#{ $context }-#{ 50 - (($factor / 100) * 50) }: #{ mix($color-background, $value, $factor) };
            --color-#{ $context }-#{ 50 + (($factor / 100) * 50) }: #{ mix($color-foreground, $value, $factor) };
        }
    }
}
