// basic colors
$transparent: transparent;

$color-background: #fff;
$color-foreground: #1d1d1b;

$color-neutral: #D0D1D5;
$color-brand: #009CC1;
$color-primary: #F18700;
$color-accent: #182642;
$color-info: #60C4DE;
$color-good: #5CB85C;
$color-warning: #FFB819;
$color-bad: #F42534;

// shades
$light-factor: 50%;
$dark-factor: 50%;
$color-brand-25: mix($background-color, $color-brand, $light-factor);
$color-brand-75: mix($foreground-color, $color-brand, $dark-factor);
$color-primary-25: mix($background-color, $color-primary, $light-factor);
$color-primary-75: mix($foreground-color, $color-primary, $dark-factor);
$color-accent-25: mix($background-color, $color-accent, $light-factor);
$color-accent-75: mix($foreground-color, $color-accent, $dark-factor);
$color-info-25: mix($background-color, $color-info, $light-factor);
$color-info-75: mix($foreground-color, $color-info, $dark-factor);
$color-good-25: mix($background-color, $color-good, $light-factor);
$color-good-75: mix($foreground-color, $color-good, $dark-factor);
$color-warning-25: mix($background-color, $color-warning, $light-factor);
$color-warning-75: mix($foreground-color, $color-warning, $dark-factor);
$color-bad-25: mix($foreground-color, $background-color, $color-bad, $light-factor);
$color-bad-75: darken($color-bad, $dark-factor);
