// Basic colors
$transparent:       transparent !default;

$color-background:  #FFF !default;
$color-foreground:  #1D1D1B !default;

$color-neutral:     #D0D1D5 !default;
$color-muted:       #B2B2B2 !default;
$color-brand:       #009CC1 !default;
$color-primary:     #F18700 !default;
$color-accent:      #182642 !default;
$color-info:        #60C4DE !default;
$color-good:        #5CB85C !default;
$color-warning:     #FFB819 !default;
$color-bad:         #F42534 !default;

:root {
    --transparent: #{ $transparent };
    
    @each $context, $value in (
        background: $color-background,
        foreground: $color-foreground,
        neutral: $color-neutral,
        muted: $color-muted,
        brand: $color-brand,
        primary: $color-primary,
        accent: $color-accent,
        info: $color-info,
        good: $color-good,
        warning: $color-warning,
        bad: $color-bad
    ) {
        --color-#{ $context }: #{ $value };
    }

    // Shades
    @each $context, $value in (
        neutral: $color-neutral,
        brand: $color-brand,
        primary: $color-primary,
        accent: $color-accent,
        info: $color-info,
        good: $color-good,
        warning: $color-warning,
        bad: $color-bad
    ) {
        @each $factor in (20, 50) {
            --color-#{ $context }-#{ 50 - ($factor / 2) }: #{ mix($color-background, $value, $factor) };
            --color-#{ $context }-#{ 50 + ($factor / 2) }: #{ mix($color-foreground, $value, $factor) };
        }
    }
}
