// borders
$border-radius: 3px;

// lines
$line-normal: 1px;
$line-medium: 1.5 * $line-normal;
$line-thick: 2 * $line-normal;

// spacing
$spacing-normal: 3px;
$spacing-2x: 2 * $spacing-normal;
$spacing-3x: 3 * $spacing-normal;
$spacing-4x: 4 * $spacing-normal;
$spacing-5x: 5 * $spacing-normal;

:root {
    --border-radius:    #{ $border-radius };

    --line-normal:      #{ $line-normal };
    --line-medium:      #{ $line-medium };
    --line-thick:       #{ $line-thick };

    --spacing-normal:   #{ $spacing-normal };
    --spacing-2x:       #{ $spacing-2x };
    --spacing-3x:       #{ $spacing-3x };
    --spacing-4x:       #{ $spacing-4x };
    --spacing-5x:       #{ $spacing-5x };
}
