// borders
$border-radius: 3px;

// lines
$line-normal: 1px;
$line-medium: 1.5px;
$line-thick: 2px;

// spacing
$spacing-normal: 3px;
$spacing-medium: 2 * $spacing-normal;
$spacing-large: 3 * $spacing-normal;
$spacing-xlarge: 4 * $spacing-normal;

