// fonts sizes
$font-size-base: 14px;
$font-size-small: .8rem;
$font-size-normal: 1rem;
$font-size-large: 1.2rem;
$h1-font-size: 1.6rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1.0rem;

// font family
$font-family-primary: ‘Open Sans’, sans-serif;
$font-family-secondary: ‘Titillium Web’, sans-serif;

// font weight
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

// decoration
$link-decoration-normal: ‘none’;
$link-decoration-hover: ‘underline’;

// other
$heading-font-family: $font-family-secondary;
