// fonts sizes
$font-size-base: 14px;
$font-size-small: .8 * $font-size-base;
$font-size-normal: 1 * $font-size-base;
$font-size-large: 1.2 * $font-size-base;
$h1-font-size: 1.6 * $font-size-base;
$h2-font-size: 1.4 * $font-size-base;
$h3-font-size: 1.2 * $font-size-base;
$h4-font-size: 1.0 * $font-size-base;

// font family
$font-family-primary:   'Open Sans', sans-serif;
$font-family-secondary: 'Titillium Web', sans-serif;

// font weight
$font-weight-light:     200;
$font-weight-normal:    400;
$font-weight-bold:      600;

// decoration
$link-decoration-normal:    none;
$link-decoration-hover:     underline;

// other
$heading-font-family: $font-family-secondary;

:root {
    --font-size-base:   #{ $font-size-base };
    --font-size-small:  #{ $font-size-small };
    --font-size-normal: #{ $font-size-normal };
    --font-size-large:  #{ $font-size-large };

    --h1-font-size:     #{ $h1-font-size };
    --h2-font-size:     #{ $h2-font-size };
    --h3-font-size:     #{ $h3-font-size };
    --h4-font-size:     #{ $h4-font-size };

    --font-family-primary:      #{ $font-family-primary };
    --font-family-secondary:    #{ $font-family-secondary };

    --font-weight-light:    #{ $font-weight-light };
    --font-weight-normal:   #{ $font-weight-normal };
    --font-weight-bold:     #{ $font-weight-bold };

    --link-decoration-normal:   #{ $link-decoration-normal };
    --link-decoration-hover:    #{ $link-decoration-hover };

    --heading-font-family:      #{ $heading-font-family };
}
