.NestedPopups {

    &__content {
        width: 200px;
        overflow: auto;
        background-color: #FFF;
        margin-top: 5px;
        padding: 10px;
        border: 1px solid #F5F5F5;
        border-radius: 3px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    }

}
