@import '../../themes/oneui/oneui';

.Pagination {
    display: flex;

    &__gap {
        color: var(--color-neutral-70);
        display: inline-flex;
        align-items: center;
        padding: 0 var(--spacing-3x);
    }
    &--align_left {
        justify-content: flex-start;
    }
    &--align_center {
        justify-content: center;
    }
    &--align_right {
        justify-content: flex-end;
    }

    &__button {
        color: var(--color-neutral-80);

        &:focus,
        &:hover {
            color: var(--color-neutral-80);
            background-color: var(--color-neutral-10);
        }

        &:active {
            background-color: var(--color-neutral-40);
        }
    }
}
