.AutosuggestMulti {
    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        min-height: 30px;
        outline: none;
        padding: var(--spacing-normal);

        &--isFocused {
            height: auto;
            flex-wrap: wrap;
        }
    }

    &__input {
        border: 0;
        margin: var(--spacing-normal);
        flex: 1;
        font-size: var(--font-size-normal);
        min-width: 100px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-muted);
        }
    }
}
