@import '../../themes/oneui/oneui';

.Input {
    @extend %input;

    border-color: var(--color-light-40);

    &--context {
        @each $context in ($contexts) {
            &_#{ $context } {
                border-color: var(--color-#{$context}-50);
                &:focus {
                    border-color: var(--color-#{$context}-50);
                }
            }
        }
    }

    &::placeholder {
        color: var(--color-neutral-25);
        opacity: 1;
    }

    &--isBlock {
        width: 100%;
    }

    &[disabled] {
        background-color: var(--color-background);
    }

    &--size {
        &_small {
            min-height: 26px;
            height: 26px;
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x);
        }
    }
}
