@import '../../themes/oneui/oneui.scss';

.Input {
    @extend %input;

    &--context {
        @each $context in (success, warning, danger) {
            &_#{ $context } {
                border-color: var(--color-#{$context});
                box-shadow: 0 0 0 var(--outline-size) var(--color-#{$context}-25);

                &:focus {
                    border-color: var(--color-#{$context});
                    box-shadow: 0 0 0 var(--outline-size) var(--color-#{$context}-25);
                }
            }
        }
    }

    &--isBlock {
        width: 100%;
    }

    &--size {
        &_small {
            min-height: 26px;
            height: 26px;
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x);
        }
    }
}
