$pill-height: 32px !default;
$pill-label-height: 17px !default;
$pill-button-size: 20px !default;

$half-pill-height: $pill-height / 2;

.PillButton {
    display: inline-flex;
    flex-direction: column;
    justify-items: start;

    &__label {
        box-sizing: border-box;
        height: $pill-label-height;
        padding: 0 $half-pill-height;
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: var(--color-brand);
    }

    &__pill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: $pill-height;
        border-radius: $half-pill-height;
        border: 1px solid var(--color-brand);
        padding: var(--spacing-2x) var(--spacing-2x) var(--spacing-2x) $half-pill-height;
        color: var(--color-brand);
        cursor: pointer;

        &--isActive {
            background-color: var(--color-brand);
            color: var(--color-background);
        }

        &:hover,
        &--isOpen {
            background-color: var(--color-brand-40);
            color: var(--color-background);
        }

        &--isOpen {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $pill-button-size;
        height: $pill-button-size;
        font-size: var(--font-size-normal);
        border: none;
        border-radius: 50%;
        margin-left: var(--spacing-2x);
        background-color: transparent;
        color: inherit;
        cursor: pointer;

        &--isActive:hover {
            background-color: var(--color-brand-25);
        }

        &--isOpen:hover {
            background-color: transparent;
        }
    }
}
