$pill-height: 32px !default;
$pill-label-height: 17px !default;
$pill-button-size: 25px !default;

$half-pill-height: $pill-height / 2;

.PillButton {
    display: inline-grid;
    grid-template-rows: $pill-label-height $pill-height;
    grid-template-areas:
        'label'
        'pill';
    justify-items: start;

    &__label {
        grid-area: label;
        padding-left: $half-pill-height;
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: var(--color-brand);
    }

    &__pill {
        grid-area: pill;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: $half-pill-height;
        border: 1px solid var(--color-brand);
        padding: var(--spacing-2x) var(--spacing-2x) var(--spacing-2x) $half-pill-height;
        color: var(--color-brand);
        cursor: pointer;

        &--isActive {
            background-color: var(--color-brand);
            color: var(--color-background);
        }

        &:hover,
        &--isOpen {
            background-color: var(--color-brand-40);
            color: var(--color-background);
        }

        &--isOpen {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $pill-button-size;
        height: $pill-button-size;
        border-radius: 50%;
        margin-left: var(--spacing-2x);
        border: none;
        background-color: transparent;
        color: inherit;

        &--isActive:hover {
            background-color: var(--color-brand-25);
        }

        &--isOpen:hover {
            background-color: transparent;
        }

        &:focus {
            outline: none;
        }
    }
}
