@use 'sass:math';

$pill-height: 32px !default;
$pill-label-height: 17px !default;
$pill-button-size: 20px !default;

$half-pill-height: math.div($pill-height, 2);

@keyframes labelIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.PillButton {
    display: inline-flex;
    flex-direction: column;
    justify-items: start;

    &__label {
        box-sizing: border-box;
        height: $pill-label-height;
        padding: 0 $half-pill-height;
        text-transform: uppercase;
        color: var(--color-brand-50);
        composes: OneUI-caption-text from global;

        &--isActive {
            animation: labelIn var(--transition-duration) forwards;
            animation-timing-function: ease-out;
        }
    }

    &__pillLabel {
        display: inline-block;
        padding-bottom: 1px;
    }

    &__pill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: $pill-height;
        border-radius: $half-pill-height;
        border: 1px solid var(--color-neutral-30);
        padding-right: var(--space-75);
        padding-left: $half-pill-height;
        color: var(--color-neutral-70);
        cursor: pointer;
        transition: all var(--transition-duration) ease;

        &:focus,
        &:hover {
            outline: none;
            border-color: var(--color-neutral-80);
            background-color: var(--color-neutral-10);
        }

        &--isOpen {
            &:hover {
                background-color: var(--color-neutral-10);
            }
        }

        &--isActive {
            border: 1px solid var(--color-brand-50);
            background-color: var(--color-brand-50);
            color: var(--color-background);

            &:focus,
            &:hover {
                background-color: var(--color-brand-60);
                border-color: var(--color-brand-60);
            }
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1px;
        padding: 2px;
        font-size: 16px;
        border: 1px solid transparent;
        border-radius: 50%;
        margin-left: var(--space-75);
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        box-sizing: content-box;
        transition: background-color var(--transition-duration) ease;

        &--isOpen {
            transform: rotate(180deg);

            &:hover {
                background-color: transparent;
            }
        }
    }

    &__arrowIcon {
        transform: translateY(1px);

        &--isOpen {
            transform: translateY(0px);
        }
    }
}
