.ProductTour {
    height: 600px;
    width: 800px;

    &__slide {
        padding: 25px;
        height: 540px;
        overflow: auto;
        box-sizing: border-box;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        height: 60px;
        padding: 0 25px;
        border-top: 1px solid var(--border-color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__checkbox {
        flex-basis: 40%;
    }

    &__dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--color-neutral-25);
        cursor: pointer;

        &--isActive {
            background-color: var(--color-neutral-60);
            cursor: default;
        }

        & + .ProductTour__dot {
            margin-left: 10px;
        }
    }

    &__buttons {
        flex-basis: 40%;
        text-align: end;
    }
}
