@keyframes buttonLoading {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: {
        radius: var(--border-radius);
        width: var(--line-normal);
        style: solid;
    }
    box-sizing: border-box;
    color: var(--color-brand);
    cursor: pointer;
    font: {
        size: var(--font-size-base);
        weight: var(--font-weight-bold);
        family: var(--font-family-primary);
    }
    text-decoration: none;
    line-height: var(--line-height-normal);
    margin: 0;
    outline: none;
    padding: var(--spacing-2x) var(--spacing-4x);
    text-align: center;
    transition: all var(--transition-duration);
    white-space: nowrap;
    flex-wrap: nowrap;

    &:focus,
    &:active {
        z-index: 20;
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal) var(--spacing-2x);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x) var(--spacing-5x);
        }
    }

    &--isBlock {
        width: 100%;
    }

    &--isInline {
        padding: 0 var(--spacing-2x);
    }

    &--isLoading {
        background-size: 200% 100%;
        animation:{
            duration: 2s;
            fill-mode: forwards;
            iteration-count: infinite;
            name: buttonLoading;
            timing-function: ease-out;
        }
    }

    &--context {
        &_link {
            color: var(--link-color-normal);
            border-color: var(--transparent);
            background-color: var(--transparent);
            text-decoration: var(--link-decoration-normal);

            &:hover {
                color: var(--link-color-hover);
                text-decoration: var(--link-decoration-hover);
            }

            &:focus,
            &:active {
                box-shadow: none;
            }

            &[disabled] {
                color: var(--color-neutral-75);

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &_neutral {
            background-color: var(--color-background);
            border-color: var(--color-neutral);
            color: var(--color-foreground);

            &:hover {
                background-color: var(--color-neutral-25);
            }

            &:focus,
            &:active {
                box-shadow: 0 0 0 var(--outline-size) var(--color-neutral-25);
                border-color: var(--color-neutral-60);
            }

            &:active {
                box-shadow: inset 0 2px 0 0 var(--color-neutral-60),
                    0 0 0 var(--outline-size) var(--color-neutral-25);
            }

            &[disabled] {
                color: var(--color-neutral-75);
                background-color: var(--color-neutral-25);
                border-color: var(--color-neutral-25);
            }

            &.Button--isLoading {
                --button-gradient: linear-gradient(to right, white 0%, var(--color-neutral-10) 80%);
                background-image: var(--button-gradient);

                &:hover:not([disabled]) {
                    background-image: none;
                }
            }
        }

        @each $context in (brand, primary, accent, info, good, warning, bad) {
            &_#{ $context } {
                background-color: var(--color-#{$context});
                border-color: var(--color-#{$context});
                color: var(--color-background);

                &:hover {
                    border-color: var(--color-#{$context}-60);
                    background-color: var(--color-#{$context}-60);
                }

                &:focus,
                &:active {
                    box-shadow: 0 0 0 var(--outline-size) var(--color-#{$context}-25);
                }

                &:active {
                    box-shadow: inset 0 2px 0 0 var(--color-#{$context}-75),
                        0 0 0 var(--outline-size) var(--color-#{$context}-25);
                }

                &[disabled] {
                    background-color: var(--color-#{$context}-25);
                    border-color: var(--color-#{$context}-25);
                }

                &.Button--isLoading {
                    --button-gradient: linear-gradient(to right, var(--color-#{$context}-40) 0%, var(--color-#{$context}-40) 50%, var(--color-#{$context}) 80%);
                    background-image: var(--button-gradient);
                    border-image: var(--button-gradient);

                    &[disabled] {
                        background-image: linear-gradient(to right, var(--color-#{$context}-25) 0%, var(--color-#{$context}-25) 50%, var(--color-#{$context}-40) 80%);
                    }

                    &:hover:not([disabled]) {
                        background-image: none;
                        border-image: none;
                    }
                }
            }
        }
    }
}
