@import '../../../themes/oneui/oneui';

@keyframes buttonLoading {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: {
        radius: var(--border-radius);
        width: var(--line-normal);
        style: solid;
    }
    box-sizing: border-box;
    color: var(--color-foreground);
    background-color: var(--color-background);
    border-color: var(--color-neutral-75);
    cursor: pointer;
    font: {
        size: var(--font-size-base);
        weight: var(--font-weight-bold);
        family: var(--font-family-primary);
    }
    text-decoration: none;
    line-height: var(--line-height-normal);
    margin: 0;
    outline: none;
    padding: var(--spacing-2x) var(--spacing-4x);
    text-align: center;
    transition: all var(--transition-duration);
    white-space: nowrap;
    flex-wrap: nowrap;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--color-light-25);
    }

    &[disabled] {
        cursor: not-allowed;
        color: var(--color-background);
        background-color: var(--color-neutral-25);
        border-color: var(--color-neutral-25);
    }

    &.Button--isLoading {
        --button-gradient: linear-gradient(to right, white 0%, var(--color-neutral-10) 80%);
        background-image: var(--button-gradient);

        &:hover:not([disabled]) {
            background-image: none;
        }
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal) var(--spacing-2x);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x) var(--spacing-5x);
        }
    }

    &--isBlock {
        width: 100%;
    }

    &--isInline {
        padding: 0 var(--spacing-2x);
    }

    &--isLoading {
        background-size: 200% 100%;
        animation:{
            duration: 2s;
            fill-mode: forwards;
            iteration-count: infinite;
            name: buttonLoading;
            timing-function: ease-out;
        }
    }

    &--isLink{
        color: var(--color-primary);
        border-color: var(--transparent);
        background-color: var(--transparent);
        text-decoration: var(--link-decoration-normal);

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
            color: var(--color-primary-60);
            background-color: var(--color-highlight-background);
        }

        &[disabled] {
            color: var(--color-neutral-25);
            background-color: transparent;
            border-color: transparent;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &--isPrimary {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-background);


        &:hover,
        &:focus,
        &:active {
            border-color: var(--color-primary-60);
            background-color: var(--color-primary-60);
        }

        &[disabled] {
            color: var(--color-background);
            background-color: var(--color-primary-25);
            border-color: var(--color-primary-25);
        }

        &.Button--isLoading {
            --button-gradient: linear-gradient(to right, var(--color-primary-40) 0%, var(--color-primary-40) 50%, var(--color-primary) 80%);
            background-image: var(--button-gradient);
            border-image: var(--button-gradient);

            &[disabled] {
                background-image: linear-gradient(to right, var(--color-primary-25) 0%, var(--color-primary-25) 50%, var(--color-primary-40) 80%);
            }

            &:hover:not([disabled]) {
                background-image: none;
                border-image: none;
            }
        }
    }
}
