{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": "2", "modules": false }],
                "@babel/preset-react"
            ]
        },
        "production": {
            "presets": [
                ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": "2", "modules": false }],
                "@babel/preset-react"
            ]
        },
        "test": {
            "presets": [
                ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": "2" }],
                "@babel/preset-react"
            ]
        }
    },
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
