{
    "extends": "stylelint-config-recommended-scss",
    "syntax": "scss",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "declaration-no-important": true,
        "font-family-name-quotes": "always-where-recommended",
        "font-weight-notation": "numeric",
        "indentation": 4,
        "no-missing-end-of-source-newline": true,
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-quotes": "always",
        "selector-max-id": 0,
        "unit-case": "lower",
        "order/order": [
            [
                "custom-properties",
                "declarations"
            ],
            {
                "disableFix": true
            }
        ],
    }
}
