.SuggestionItem {
    all: unset;
    display: flex;
    text-decoration: none;
    padding: 10px var(--space-150);
    outline: none;

    &:hover {
        background-color: var(--color-background-neutral-subtlest-hover);
        padding: 10px var(--space-150);
    }

    &:active {
        background-color: var(--color-background-neutral-subtlest-pressed);
    }

    &:focus-visible,
    &--isHighlighted {
        border: var(--border-width-thick) solid var(--color-info-20);
        padding: calc(10px - var(--border-width-thick))
            calc(var(--space-150) - var(--border-width-thick));
    }

    &--disabled.SuggestionItem:hover {
        background-color: var(--color-background-neutral-subtlest-disabled);
        color: var(--color-text-disabled);
        border: none;
    }

    &--disabled {
        background-color: var(--color-background-neutral-subtlest-disabled);
        color: var(--color-text-disabled);
        border: none;
        cursor: not-allowed;
    }

    &--isSelected.SuggestionItem:hover {
        background-color: var(--color-background-selected-subtlest-hover);
        color: var(--color-link-default);
        border: none;
    }

    &--isSelected.SuggestionItem:active {
        background-color: var(--color-background-selected-subtlest-pressed);
    }

    &--isSelected {
        background-color: var(--color-background-selected-subtlest-default);
        color: var(--color-text-selected-default);
    }

    &--isSelected.SuggestionItem--disabled {
        background-color: var(--color-background-selected-subtlest-default);
        color: var(--color-link-default);

        &:active {
            background-color: var(--color-background-selected-subtlest-hover);
        }
    }
}

.SuggestionItem__checkbox {
    width: 100%;
    display: flex;

    label {
        flex-grow: 1;
    }

    &--isSelected.SuggestionItem__checkbox--disabled {
        color: var(--color-text-selected-disabled);
    }
}
