.TabItem {
    color: var(--color-neutral-80);
    cursor: pointer;
    outline: none;
    padding: var(--spacing-2x) var(--spacing-4x) var(--spacing-3x) var(--spacing-4x);
    text-decoration: none;
    transition: all var(--transition-duration);
    text-align: center;
    border-bottom: 4px solid transparent;
    font-weight: var(--font-weight-bold);


    &:hover,
    &:focus {
        border-bottom: 4px solid var(--color-background);
        background-color: var(--color-neutral-10);
        border-radius: var(--border-radius);
    }

    &--isActive,
    &:active {
        color: var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
        background-color: var(--color-background);
        border-radius: 0;
    }

    &--isActive {
        &:hover,
        &:focus {
            color: var(--color-primary);
            border-bottom: 4px solid var(--color-primary);
            background-color: var(--color-highlight-background);
            border-radius: 0;
        }
    }

    &--isBlock {
        flex-grow: 1;
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--color-neutral-30);

        &:hover,
        &:focus {
            border-bottom: 4px solid transparent;
            color: var(--color-neutral-30);
        }
    }
}
