.TabItem {
    color: var(--link-color-normal);
    cursor: pointer;
    outline: none;
    padding: var(--spacing-2x) var(--spacing-4x);
    text-decoration: none;
    transition: all var(--transition-duration);
    text-align: center;
    border-bottom: 4px solid transparent;
    margin-bottom: -1px;
    font-weight: var(--font-weight-bold);

    &:hover,
    &:focus {
        border-bottom: 4px solid var(--color-neutral-25);
        color: var(--link-color-hover);
    }

    &--isActive,
    &:active {
        color: var(--color-foreground);
        border-bottom: 4px solid var(--color-primary);
    }

    &--isActive {
        &:hover,
        &:focus {
            color: var(--color-foreground);
            border-bottom: 4px solid var(--color-primary);
        }
    }

    &--isBlock {
        flex-grow: 1;
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--color-muted);

        &:hover,
        &:focus {
            border-bottom: 4px solid transparent;
            color: var(--color-muted);
        }
    }
}
