.Text {
    &--size {
        &_small {
            composes: OneUI-caption-text from global;
        }

        &_medium {
            composes: OneUI-label-text from global;
        }
    }

    &--context {
        @each $context in (success, cautious, critical, brand) {
            &_#{ $context } {
                color: var(--color-text-#{$context}-default);
            }
        }
    }

    &--context_info {
        color: var(--color-text-info-default);
    }

    &--context_neutral {
        color: var(--color-text-subtlest);
    }

    &--isBold {
        font-weight: var(--font-weight-bold);
    }
}
