@import '../../themes/oneui/oneui.scss';

.Text {
    &--size {
        &_small {
            font-size: var(--font-size-small);
        }

        &_large {
            font-size: var(--font-size-large);
        }
    }

    @include context-attribute-with-color('color', (light, primary, info));

    &--context_neutral {
        color: var(--color-neutral-40);
    }
}
