@import '../../themes/oneui/oneui.scss';

.Text {
    color: var(--color-foreground);
    font: {
        family: var(--font-family-primary);
        size: var(--font-size-normal);
        weight: var(--font-weight-normal);
    }

    &--bold {
        font-weight: var(--font-weight-bold);
    }

    &--muted {
        color: var(--color-muted);
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
        }

        &_large {
            font-size: var(--font-size-large);
        }
    }
}
