.ThemeActions {
    padding: var(--spacing-5x) var(--spacing-2x) var(--spacing-5x) 0;

    &__button {
        margin-right: var(--spacing-3x);
    }

    &__icon {
        padding-right: var(--spacing-normal);
    }
}
