.ThemeActions {
    display: flex;
    flex-wrap: wrap;
    padding: var(--space-200) var(--space-75) var(--space-75) 0;

    &__button {
        margin-right: var(--space-100);
        margin-bottom: var(--space-100);
    }

    &__icon {
        padding-right: var(--space-50);
    }

    &__closeIcon {
        padding-right: var(--space-50);
        font-size: 16px;
    }
}
