.NavBar {
    background-color: var(--color-light-25);
    color: var(--color-primary);
    width: 100%;
    min-width: var(--site-container-min-size);
    height: var(--navigation-height);

    &__wrapper {
        box-sizing: border-box;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
    }
}
