.ItemTag {
    background-color: #f5f5f5;
    font-size: 0.9em;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px 6px;
    margin: 0 4px;
    display: flex;
    cursor: pointer;

    &__button {
        margin-left: 6px;
        color: #868686;
        background-color: #f5f5f5;
        border: 0;
        cursor: pointer;
        padding: 2px;
    }
}
