@import '../../themes/oneui/oneui';

.BulkActionsToolbar {
    padding: var(--space-75);
    background-color: var(--color-neutral-5);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    transition: background-color var(--transition-duration) ease;

    &--hasSelection {
        background-color: var(--color-cautious-10);
    }

    &__counter {
        padding-right: var(--space-200);
        color: var(--color-cautious-80);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


    &__toggle {
        padding-right: var(--space-200);
        overflow: hidden;
        white-space: nowrap;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        min-width: 0;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__counter,
    &__toggleButton,
    &__action {
        padding: var(--space-75) var(--space-100);
    }

    &__actionWrapper {
        overflow: hidden;
        display: block;
        margin-left: var(--space-50);

        &--first {
            margin-left: 0;
        }
    }

    &__icon {
        font-size: 15px;
        display: inline-flex;
        padding-right: var(--space-50);
    }

    &__action {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
    }
}

