.ComboboxMulti {
    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 34px;
        box-sizing: border-box;
        outline: none;
        padding: var(--space-50);
        padding-bottom: var(--margin);

        &--focused {
            height: auto;
        }

        &--disabled {
            cursor: not-allowed;
            background-color: var(--color-neutral-30);
        }
    }

    &__input {
        border: 0;
        margin: var(--space-50);
        padding-left: var(--space-50);
        padding-right: var(--space-50);
        flex: 1;
        font-size: var(--font-size-normal);
        background-color: var(--color-background);
        min-width: 150px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-neutral-30);
        }

        &--disabled {
            cursor: not-allowed;
            background-color: var(--color-neutral-30);
        }
    }

    &__dropdownIcon {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin-right: var(--space-50);
        color: var(--color-neutral-60);

        &--disabled {
            color: var(--color-neutral-80);
        }
    }
}
