.ScrollContainer {
    overflow: auto;
    position: relative;

    &--hideScrollX {
        overflow-x: hidden;
    }

    &--hideScrollY {
        overflow-y: hidden;
    }

    &--resize {
        @each $axis in (both, horizontal, vertical) {
            &_#{ $axis } {
                resize: $axis;
            }
        }
    }
}
