.DropdownItem {
    color: var(--color-foreground);
    cursor: pointer;
    display: block;
    line-height: var(--line-height-normal);
    user-select: none;
    white-space: nowrap;

    &:hover {
        background-color: var(--color-neutral-10);
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--color-neutral-75);

        &:active {
            background-color: var(--color-neutral-25);
        }
    }

    &__single,
    &__multi {
        box-sizing: border-box;
        background-color: transparent;
        width: 100%;
        text-align: left;
    }

    &__single {
        border: none;
        cursor: pointer;
        display: block;
        outline: none;
        padding: var(--spacing-2x) var(--spacing-3x);
    }

    &__multi {
        .Checkbox__label {
            padding: var(--spacing-2x) var(--spacing-3x);
        }
    }
}
