.DropdownItem {
    color: var(--color-foreground);
    cursor: pointer;
    display: block;
    line-height: var(--line-height-normal);
    padding: var(--spacing-2x) var(--spacing-3x);
    user-select: none;
    white-space: nowrap;

    &:hover {
        background-color: var(--color-neutral-25);
    }

    &--checkbox {
        padding: 0;
    }

    &--disabled {
        cursor: not-allowed;
        color: var(--color-neutral-75);

        &:active {
            background-color: var(--color-neutral-25);
        }
    }
    &--isStatic {
        background-color: var(--color-background);
        color: var(--color-neutral-75);
        cursor: default;

        &:hover,
        &:active {
            background-color: var(--color-background);
        }
    }

    &__checkbox {
        .Checkbox__label {
            padding: var(--spacing-2x) var(--spacing-3x);
            line-height: var(--line-height-normal);
        }
    }
}
