@import '../../themes/oneui/oneui.scss';

.TextArea {
    @extend %input;

    &--context {
        @each $context in ($contexts) {
            &_#{ $context } {
                &:focus {
                    border-color: var(--color-#{$context});
                }
            }
        }
        @each $context in (warning, bad) {
            &_#{ $context } {
                border-color: var(--color-#{$context});
            }
        }
    }

    &--isBlock {
        width: 100%;
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--spacing-normal);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--spacing-3x);
        }
    }
}
