@use '../../themes/oneui/placeholders/input';

.TextArea {
    @extend %input;

    &::placeholder {
        color: var(--color-neutral-30);
        opacity: 1;
    }

    &:focus {
        border-color: var(--color-brand-50);
    }

    &--isBlock {
        width: 100%;
    }

    &--size {
        &_small {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding: var(--space-50);
        }
        &_large {
            font-size: var(--font-size-large);
            line-height: var(--line-height-large);
            padding: var(--space-100);
        }
    }
}
