.List {
    margin: 0;
    padding: 0;
    list-style: none;

    &--isDivided {
        .List__item + .List__item {
            border-top: 1px solid var(--color-neutral-25);
        }
    }

    &:focus {
        outline: none;
    }
}
