%input {
    min-height: 36px;
    height: 36px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: {
        color: var(--color-neutral);
        radius: var(--border-radius);
        style: solid;
        width: var(--line-normal);
    }
    box-sizing: border-box;
    color: var(--color-foreground);
    font: {
        family: var(--font-family-primary);
        size: var(--font-size-normal);
        weight: var(--font-weight-normal);
    }
    line-height: var(--line-height-normal);
    outline: none;
    padding: var(--spacing-2x);
    transition: border-color var(--transition-duration);

    &:focus,
    &:hover {
        border-color: var(--color-brand);
    }

    &::placeholder {
        color: var(--color-muted);
    }

    &[disabled] {
        background-color: var(--color-neutral-25);
        color: var(--color-neutral-75);
        cursor: not-allowed;
    }
}
