:global(.OneUI-heading-1) {
    font-size: var(--h1-font-size);
    font-weight: var(--heading-font-weight);
    font-style: normal;
    line-height: var(--line-height-x-large);
}

:global(.OneUI-heading-2) {
    font-size: var(--h2-font-size);
    font-weight: var(--heading-font-weight);
    font-style: normal;
    line-height: var(--line-height-large);
}

:global(.OneUI-heading-3) {
    font-size: var(--h3-font-size);
    font-weight: var(--heading-font-weight);
    font-style: normal;
    line-height: var(--line-height-normal);
}

:global(.OneUI-body-text) {
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    text-decoration: none;
}

:global(.OneUI-body-text-bold) {
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    text-decoration: none;
}

:global(.OneUI-body-link-text) {
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-body-link-text-bold) {
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-label-text) {
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-small);
    text-decoration: none;
}

:global(.OneUI-label-text-bold) {
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    text-decoration: none;
}

:global(.OneUI-label-link-text) {
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-small);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-label-link-text-bold) {
    font-size: var(--font-size-small);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-small);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-caption-text) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-x-small);
    text-decoration: none;
}

:global(.OneUI-caption-text-bold) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-x-small);
    text-decoration: none;
}

:global(.OneUI-caption-link-text) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-x-small);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-caption-link-text-bold) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-x-small);
    text-decoration: var(--link-decoration-normal);
}

:global(.OneUI-caption-upper-case-text) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: none;
    text-decoration: none;
    text-transform: uppercase;
}

:global(.OneUI-caption-upper-case-text-bold) {
    font-size: var(--font-size-x-small);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: none;
    text-decoration: none;
    text-transform: uppercase;
}
