.ListItem {
    transition: background-color var(--transition-duration);

    &__container {
        display: flex;
        align-items: baseline;
        padding: var(--spacing-3x);
    }

    &:hover:not(.ListItem--disabled) {
        background-color: var(--color-hover-background);
    }

    &--isSelected {
        background-color: var(--color-highlight-background);
    }

    &--clickable {
        cursor: pointer;
    }
}
