.ListItem {
    transition: background-color var(--transition-duration);

    &__container {
        display: flex;
        align-items: baseline;
        padding: var(--spacing-3x);
    }

    &:hover {
        background-color: var(--color-hover-background);
    }

    &--isSelected {
        background-color: var(--color-highlight-background);
    }

    &--clickable {
        cursor: pointer;
    }

    &--disabled:hover {
        background-color: var(--color-background);
    }
}
