$contexts: (neutral, primary, info, success, cautious, danger);

.ListItem {
    display: flex;
    align-items: baseline;
    padding: var(--spacing-4x);
    box-sizing: border-box;

    &:hover:not(.ListItem--disabled) {
        background-color: var(--color-light-25);
    }

    &--isHighlighted {
        background-color: var(--color-light-25);
    }

    &--isSelected {
        background-color: var(--color-highlight-background);
    }

    &--clickable {
        cursor: pointer;
    }

    &--disabled {
        color: var(--color-neutral-25);
        cursor: not-allowed;
    }

    &--highlightContext {
        @each $context in $contexts {
            &_#{ $context }:hover:not(.ListItem--disabled) {
                background-color: var(--color-#{$context}-50);
                color: var(--color-background);
            }

            &_#{ $context }.ListItem--isSelected {
                background-color: var(--color-#{$context}-50);
                color: var(--color-background);
            }

            &_#{ $context }.ListItem--isHighlighted:not(.ListItem--disabled) {
                background-color: var(--color-#{$context}-50);
                color: var(--color-highlight-background);
            }
        }
    }
}
