$contexts: (neutral, brand, primary, accent, info, good, warning, bad);

.ListItem {
    transition: background-color var(--transition-duration);

    &__container {
        display: flex;
        align-items: baseline;
        padding: var(--spacing-4x);
    }

    &:hover:not(.ListItem--disabled) {
        background-color: var(--color-highlight-background);
    }

    &--isSelected, &--isHighlighted {
        background-color: var(--color-highlight-background);
    }

    &--clickable {
        cursor: pointer;
    }

    &--highlightContext {
        @each $context in $contexts {
            &_#{ $context }:hover:not(.ListItem--disabled) {
                background-color: var(--color-#{$context});
                color: var(--color-background);
            }

            &_#{ $context }.ListItem--isSelected {
                background-color: var(--color-#{$context});
                color: var(--color-background);
            }

            &_#{ $context }.ListItem--isHighlighted:not(.ListItem--disabled) {
                background-color: var(--color-#{$context});
                color: var(--color-highlight-background)
            }
        }
    }
}
