.StepperButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-size: var(--font-size-normal);
    height: var(--stepper-button-size);
    width: var(--stepper-button-size);
    margin: 0;

    border: none;
    border-radius: calc(var(--stepper-button-size) / 2);

    color: var(--color-background);
    background-color: var(--color-brand);

    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all var(--transition-duration);

    &:hover {
        background-color: var(--color-brand-60);
    }

    &[disabled] {
        background-color: var(--color-brand-25);
        box-shadow: none;
        cursor: not-allowed;
    }

    &:focus {
        box-shadow: 0 0 0 var(--outline-size) var(--color-brand-25);
    }

    &:active {
        box-shadow: inset 0 2px 0 0 var(--color-brand-75),
            0 0 0 var(--outline-size) var(--color-brand-25);
    }
}
