.StepperButton {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-size: var(--font-size-normal);
    height: var(--stepper-button-size);
    width: var(--stepper-button-size);
    margin: 0;

    border: none;
    border-radius: calc(var(--stepper-button-size) / 2);

    color: var(--color-neutral-80);
    background-color: var(--color-neutral-10);

    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all var(--transition-duration);

    &:focus,
    &:hover {
        background-color: var(--color-neutral-30);
    }

    &[disabled] {
        background-color: var(--color-neutral-10);
        cursor: not-allowed;
    }

    &:active[disabled] {
        box-shadow: none;
        outline: none;
    }

    &:active {
        background-color: var(--color-neutral-40);
    }

    &--isPrimary {
        background-color: var(--color-primary-50);
        color: var(--color-background);

        &:hover {
            background-color: var(--color-primary-60);
        }

        &[disabled] {
            background-color: var(--color-primary-20);
            cursor: not-allowed;
        }

        &:focus,
        &:active {
            background-color: var(--color-primary-80);
        }
    }
}
