.Combobox {
    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 34px;
        box-sizing: border-box;
        outline: none;
        padding: var(--spacing-normal);
        padding-bottom: var(--margin);

        &--focused {
            height: auto;
        }

        &--disabled {
            cursor: not-allowed;
            background-color: var(--color-neutral-25);
        }
    }

    &__input, &__selection {
        border: 0;
        margin: var(--spacing-normal);
        padding-left: var(--spacing-normal);
        padding-right: var(--spacing-normal);
        flex: 1;
        font-size: var(--font-size-normal);
        color: var(--color-accent);
        min-width: 150px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-muted);
        }

        &--disabled {
            cursor: not-allowed;
            background-color: var(--color-neutral-25);
        }
    }
}
