$labelingDialogWidth: 200px;

.LabelPicker {
    &__dialog {
        z-index: 400;
        max-width: $labelingDialogWidth;
    }

    &__container {
        background-color: var(--color-background);
        border: 1px solid var(--color-neutral-30);
        border-radius: var(--border-radius);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        padding: var(--space-75);
    }

    &__scrollBox {
        max-height: 190px;
        overflow-y: auto;
    }

    &__checkbox {
        display: flex;
        margin-bottom: var(--space-100);
    }

    &__label {
        display: inline-flex;
        overflow: hidden;
    }

    &__labelText {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__count {
        margin-left: var(--space-50);
    }

    &__inputLine {
        display: flex;
        align-items: center;
        margin: var(--space-75) 0 var(--space-100);
    }

    &__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__addButton {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
}
