@import '../../../themes/oneui/oneui';

.Autosuggest {
    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        height: 34px;
        box-sizing: border-box;
        outline: none;
        padding: var(--spacing-normal);
        padding-bottom: var(--margin);

        &--isFocused {
            min-height: 34px;
            height: auto;
            flex-wrap: wrap;
        }
    }

    &__input {
        border: 0;
        margin: var(--spacing-normal);
        padding-left: var(--spacing-normal);
        padding-right: var(--spacing-normal);
        background-color: var(--color-background);
        flex: 1;
        font-size: var(--font-size-normal);
        min-width: 105px;

        &--hidden {
            position: absolute;
            opacity: 0;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-neutral-25);
            opacity: 1;
        }
    }
}
