@import '../../themes/oneui/oneui';

$icon-size: 20px;

.Toast {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 400px;
    margin: 0 16px 16px 0;
    padding: 16px;
    border: 1px solid;
    border-radius: 12px;


    &__contextIcon {
        font-size: 24px;
        border: 1px solid blue;
    }

    &__content {
        flex-grow: 1; 
        display: flex;
        gap: 8px;
        flex-direction: column;
        border: 1px solid red;
    }

    &__closeButton {
        flex-shrink: 0;
        text-align: start;
        display: flex;
        align-items: flex-start;

        height: var(--icon-size);
        width: var(--icon-size);
        padding: 0;
        cursor: pointer;
        background-color: var(--transparent);
        border: none;
        // outline: 0;
        // // transition: color var(--transition-duration) ease;
    }

    &__closeIcon {
        font-size: 20px;
        color: var(--color-icon-subtle)
    }


    @each $context in append($contexts, 'info') {
        &--context_#{$context} {
            background-color: var(--color-#{$context}-5);
            border-color: var(--color-#{$context}-30);
        }
        // &__content--context_#{ $context } {
        //     color: var(--color-#{$context}-80);
        // }

        // &__closeButton--context_#{ $context } {
        //     color: var(--color-#{$context}-60);
        // }

        // &__closeButton--context_#{ $context }:hover,
        // &__closeButton--context_#{ $context }:focus {
        //     color: var(--color-#{$context}-80);
        // }
    }
}
