.Select {
    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 28px;
        outline: none;
        padding: var(--spacing-normal);

        &--isOpen {
            height: auto;
        }
    }

    &__selected {
        border: 0;
        background-color: var(--color-background);
        text-align: left;
        font-weight: var(--font-weight-normal);
        margin: var(--spacing-normal);
        padding-left: var(--spacing-normal);
        padding-right: var(--spacing-normal);
        flex: 1;
        font-size: var(--font-size-normal);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
