@import '../base-variables/typography';
@import '../base-variables/colors';
@import '../base-variables/sizing';

@mixin text-font {
    font-size: $font-size-normal;
    line-height: $font-size-normal * 1.5;
    color: $color-foreground;
}

@mixin text-link {
    color: $color-primary;
    text-decoration: $link-decoration-normal;

    &:hover {
        text-decoration: $link-decoration-hover;
    }
}

@mixin heading-1 {
    font-family: $heading-font-family;
    font-size: $h1-font-size;
    color: $color-secondary;
    margin: $spacing-large 0;
}