.DropdownItem {
    color: var(--color-foreground);
    display: block;
    padding: var(--spacing-2x) var(--spacing-3x);
    white-space: nowrap;

    &:hover {
        background-color: var(--color-neutral-25);
    }
}
