@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.ContentPlaceholder {
    animation:{
        duration: 1s;
        fill-mode: forwards;
        iteration-count: infinite;
        name: shimmer;
        timing-function: linear;
    }
    margin-bottom: var(--spacing-2x);
    line-height: inherit;
    background: var(--color-neutral-25);
    background: linear-gradient(to right, var(--color-neutral-10) 5%, var(--color-neutral-25) 15%, var(--color-neutral-10) 30%);
    background-size: 200% 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__mask {
        background-color: var(--color-background);
        height: inherit;
        width: 0;
    }

    &--withoutMargin {
        margin-bottom: 0;
    }
}
