:root {
    --color-bad: rgb(214, 24, 151);
    --color-warning: rgb(255, 251, 17);
    --color-brand: rgb(88, 255, 10);
    --color-brand-60: rgb(99, 185, 59);

    --spacing-3x: 40px;
    --spacing-5x: 60px;

    --border-radius: 55px;

    --heading-font-family: 'Charm', cursive;
}
