.ActionsButton {
    &__list {
        background-color: var(--color-background);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-neutral);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
}
