.CalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: var(--spacing-3x);
    color: var(--color-neutral-75);

    &__navButton {
        width: 33px;
        height: 33px;
        padding: var(--spacing-normal);
        border: transparent;
    }

    &__select {
        margin-left: var(--spacing-normal);
        background-color: var(--color-background);
        border: 0;
        border-bottom: 1px var(--color-neutral) solid;
        font-size: var(--font-size-large);

        &:focus {
            outline: none;
        }
    }
}
