.CalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__navButton {
        width: 33px;
        height: 33px;
    }

    &__select {
        margin-left: var(--spacing-normal);
        background-color: var(--color-background);
        border: 0;
        font-size: var(--font-size-normal);

        &:focus {
            outline: none;
        }
    }
}
