$location-card-width: 300px;
$close-button-side: 10px;
$close-button-adjustment: 5px;

.LocationCard {
    width: $location-card-width;
    height: 122px;
    padding: 14px 20px;
    background-color: var(--color-neutral-25);

    .header {
        flex-direction: row;
        display: flex;

        .title {
            width: 100%;
        }

        .closeButton {
            width: $close-button-side;
            height: $close-button-side;
            margin-right: $close-button-adjustment;
        }
    }
    
    .slider {
        flex-direction: row;
        display: flex;
    }
}
