:root {
    --pill-dropdown-padding: var(--space-100);
}

@keyframes dropdownAppear {
    from {
        opacity: 0;
        transform: translateY(-15px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.PillDropdown {
    z-index: 500;

    &__dialog {
        max-width: 440px;
        max-height: 440px;
        overflow-x: auto;
        background: var(--color-background);
        margin: var(--space-75) 0;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-neutral-30);
        box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
        transform-origin: top left;
        animation: dropdownAppear var(--transition-duration-quick) forwards;
        animation-timing-function: linear;
    }

    &__content {
        padding: var(--pill-dropdown-padding);

        &--noPadding {
            padding: 0;
        }
    }
}
