:root {
    --pill-dropdown-padding: var(--space-100);
}

@keyframes dropdownAppear {
    from {
        opacity: 0;
        transform: translateY(-15px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.PillDropdown {
    z-index: 500;

    &__dialog {
        transform-origin: top left;
        animation: dropdownAppear var(--transition-duration-quick) forwards;
        animation-timing-function: linear;
    }

    &__content {
        padding: var(--pill-dropdown-padding);

        &--noPadding {
            padding: 0;
        }
    }

    &__footer {
        display: flex;
        border-top: solid 1px var(--color-neutral-30);
        justify-content: flex-end;
        padding: var(--pill-dropdown-padding);
    }
}
