:root {
    --pill-dropdown-padding: var(--spacing-3x);
}

@keyframes dropdownAppear {
    from {
        opacity: 0;
        transform: translateY(-15px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.PillDropdown {
    z-index: 500;

    &__dialog {
        background: var(--color-background);
        margin: var(--spacing-2x) 0;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-light);
        box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
        transform-origin: top left;
        animation: dropdownAppear var(--transition-duration-quick) forwards;
        animation-timing-function: linear;
    }

    &__content {
        padding: var(--pill-dropdown-padding);
        min-width: 170px;

        &--noPadding {
            padding: 0;
        }
    }

    &__footer {
        display: flex;
        border-top: solid 1px var(--color-light);
        justify-content: flex-end;
        padding: var(--pill-dropdown-padding);
    }
}
