@use 'sass:math';

// Definition of basic slider variables
$slider-rail-height: 3px;
$slider-handle-size: 18px;
$slider-handle-border-width: 2px;

// Centering adjustments of the handle on the rail
$slider-handle-margin-top: -(math.div($slider-handle-size, 2));

// Definitions of variables for paddings, shadows, etc.
$slider-padding: 5px 0;

:global .rc-slider-track {
    position: absolute;
    height: $slider-rail-height;
    border-radius: math.div($slider-rail-height, 2);
    background-color: var(--color-brand);
    transition: background-color var(--transition-duration) ease;
}

:global .rc-slider-handle {
    position: absolute;
    width: $slider-handle-size;
    height: $slider-handle-size;
    margin-top: $slider-handle-margin-top;
    border: solid $slider-handle-border-width var(--color-brand);
    border-radius: 50%;
    transition: background-color var(--transition-duration) ease,
        transform var(--transition-duration), box-shadow var(--transition-duration);
    background-color: var(--color-background);
    cursor: grab;
    top: 50%;

    &:active {
        cursor: grabbing;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 var(--spacing-normal) var(--color-brand-25);
    }
}

:global .rc-slider {
    position: relative;
    height: $slider-rail-height;
    padding: $slider-padding;
    width: 100%;

    &:hover .rc-slider-track {
        background-color: var(--color-brand-40);
    }

    &:hover .rc-slider-handle {
        transform: scale(1.2);
    }

    &:active .rc-slider-track {
        background-color: var(--color-brand-40);
    }

    * {
        box-sizing: border-box;
    }
}

:global .rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: var(--color-neutral-10);
    height: $slider-rail-height;
    border-radius: math.div($slider-rail-height, 2);
}
