@import '../../../themes/oneui/oneui';

.TabsBar {
    border-bottom: 1px solid var(--color-neutral-20);
    display: flex;
    justify-content: flex-start;
    padding: {
        top: var(--space-75);
    }

    &--isBlock {
        justify-content: space-evenly;
    }
}
