@import '../../../themes/oneui/oneui';

.TabsBar {
    border-bottom: 1px solid var(--color-light-40);
    display: flex;
    justify-content: flex-start;
    padding: {
        top: var(--spacing-2x);
    }

    &--isBlock {
        justify-content: space-evenly;
    }
}
