.TabsBar {
    display: flex;
    justify-content: flex-start;
    padding: {
        top: var(--space-75);
    }
    border-bottom: var(--line-normal) solid var(--color-border-subtle);

    &--isBlock {
        justify-content: space-evenly;
    }
}
