@import '../../themes/oneui/oneui';

.RadioButton {

    &__box {
        background-color: var(--color-background);
        border: 1px solid var(--color-neutral-30);
        border-radius: 50%;
        box-sizing: content-box;
        display: inline-block;
        position: relative;
        top: -1px;
        width: 12px;
        height: 12px;
        transform: scale(1);
        transition: all var(--transition-duration) ease;
        vertical-align: middle;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--color-primary);
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
        }

        &:focus,
        &:hover {
            border: 1px solid var(--color-primary);
            stroke: var(--color-highlight-background);
            background-color: var(--color-highlight-background);
        }
    }

    &__label {
        margin: auto;
        user-select: none;
        cursor: pointer;
        display: block;

        &:focus,
        &:hover {
            .RadioButton__box {
                border-color: var(--color-primary);
            }
        }
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: var(--color-background);
    }

    &__input {
        display: none;

        &:checked {
            + .RadioButton__label {
                .RadioButton__box {
                    background: var(--color-primary);
                    border-color: var(--color-primary);

                    .RadioButton__svg {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }

    &__text {
        padding: var(--spacing-normal) 0 var(--spacing-normal) var(--spacing-2x);
    }

    &--disabled {
        &:hover {
            .RadioButton__label {
                .RadioButton__box {
                    border-color: var(--color-neutral-70);
                }
            }
        }

        .RadioButton__input{
            + .RadioButton__label {
                cursor: not-allowed;
            }

            &:checked {
                + .RadioButton__label {
                    .RadioButton__box {
                        border-color: var(--color-neutral-70);
                        background: var(--color-neutral-70);
                    }
                }
            }
        }
    }
}
