$element-height: 32px;
$button-size: 18px;
$icon-size: 22px;

.SelectedOption {
    display: flex;
    align-items: center;
    height: $element-height;

    &__button {
        flex-shrink: 0;
        position: relative;
        outline: none;
        margin-right: var(--space-100);
        height: $button-size;
        width: $button-size;
        background-color: var(--color-neutral-10);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;

        &:hover {
            background-color: var(--color-neutral-20);
        }
    }

    &__buttonIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $icon-size;
        height: $icon-size;
    }

    &__label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        composes: OneUI-label-text from global;
    }
}
