.Divider {
    width: 240px;
    height: 0px;
    border: 1px solid var(--color-border-subtle);
    list-style-type: none; 
}

.SectionTitle {
    background-color: var(--color-background-brand-subtlest-default);
    color: var(--color-text-brand-default);
    width: 240px;
    padding: 12px 12px 4px 12px;
    composes: OneUI-caption-upper-case-text-bold from global;
    list-style-type: none; 
}