@import '../../themes/oneui/oneui';

.IconBase {
    display: inline-flex;
    align-self: center;
    fill: currentColor;

    &__svg {
        position: relative;
        top: 0.125em;
        height: 1em;
        transition: fill var(--transition-duration);
    }

    @include context-attribute-with-color('fill');

    &--margin {
        @each $side in (top, right, bottom, left) {
            &_#{ $side } {
                margin-#{ $side }: 0.25em;
            }
        }
    }
}
