@import '../../themes/oneui/oneui';

$icon-margin-adjustment: 7.5px 1px 0px 3px;

.LocationAutocomplete {
    &__poweredByGoogleImage {
        position: absolute;
        right: var(--spacing-4x);
        bottom: var(--spacing-4x);
        top: var(--spacing-3x);
    }

    &__icon {
        color: var(--color-neutral-30);
        margin: $icon-margin-adjustment;
    }
}
