@import '../../themes/oneui/oneui';

$icon-margin-adjustment: 7.5px 1px 0px 3px;

.LocationAutocomplete {
    &__poweredByGoogleImage {
        position: absolute;
        right: var(--space-150);
        bottom: var(--space-150);
        top: var(--space-100);
    }

    &__icon {
        color: var(--color-neutral-30);
        margin: $icon-margin-adjustment;
    }
}
