$icon-margin-adjustment: 1px 1px 0px 3px;

.LocationAutocomplete {
    &__poweredByGoogleImage {
        position: absolute;
        right: var(--spacing-4x);
        bottom: var(--spacing-4x);
    }

    &__icon {
        color: var(--color-neutral-25);
        margin: $icon-margin-adjustment;
    }
}
