@import '../../themes/oneui/oneui';

.Themeroller {
    width: 320px;
    padding: 10px;
    border: 1px solid rgb(206, 227, 245);
    background-color: aliceblue;

    &__themeName {
        padding-left: var(--space-75);
    }

    &__error {
        line-break: anywhere;
    }
}
