.Themeroller {
    &__list {
        border-bottom: 1px solid var(--color-neutral-25);
    }
    &__item {
        padding: var(--spacing-2x);
        padding-left: var(--spacing-5x);
    }

    &__label {
        width: 200px;
    }
}
