@import '../../themes/oneui/oneui.scss';

.Heading {
    font: {
        family: var(--heading-font-family);
        weight: var(--heading-font-weight);
    }
    text-align: left;
    margin: 0;

    &--level {
        @for $level from 1 to 7 {
            &_h#{ $level } {
                font-size: var(--h#{$level}-font-size);
            }
        }
    }
    &--align {
        &_center {
            text-align: center;
        }
        &_right {
            text-align: right;
        }
    }

    @include context-attribute-with-color('color', (muted));
}
