.Heading {
    text-align: left;
    margin: 0;

    &--isNeutral {
        color: var(--color-text-subtlest);
    }

    &--level {
        &_h1 {
            composes: OneUI-heading-1 from global;
        }
        &_h2 {
            composes: OneUI-heading-2 from global;
        }
        &_h3 {
            composes: OneUI-heading-3 from global;
        }
    }
    &--align {
        &_center {
            text-align: center;
        }
        &_right {
            text-align: right;
        }
    }
}
