@import '../../themes/oneui/oneui.scss';

.Alert {
    background-color: var(--color-background);
    border: {
        color: var(--color-neutral);
        radius: var(--border-radius);
        style: solid;
        width: var(--line-normal);
        left-width: 10px;
    }
    box-shadow: 0 2px 2px var(--color-neutral-25);
    color: var(--color-foreground);
    display: flex;
    font: {
        family: var(--font-family-primary);
        size: var(--font-size-normal);
    }
    padding: var(--spacing-4x);

    @include context-attribute-with-color('border-left-color');

    &__content {
        flex-grow: 2;
    }

    &__action {
        display: flex;
        align-content: center;
    }

    &__title {
        display: block;
        margin-bottom: var(--spacing-2x);
        font-weight: var(--font-weight-bold);
    }
}
