.Modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity var(--transition-duration) ease-in-out;
    }

    &__overlay--entered {
        opacity: 1;
    }

    &__overlay--exited {
        opacity: 0;
    }

    &__content {
        position: relative;
        top: 15vh;
        width: 65vw;
        height: 65vh;
        margin: auto;
        max-width: var(--site-container-max-size);
        border: 1px solid var(--border-color-strong);
        border-radius: var(--border-radius);
        background-color: var(--color-background);
        box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.8);
        overflow: auto;
        outline: none;
        transform: translateY(50px);
        transition: transform var(--transition-duration);
    }

    &__content--entered {
        transform: translateY(0);
    }

    &__content--exited {
        transform: translateY(50px);
    }
}
