.Modal {
    &__body {
        overflow: hidden;
    }

    &__overlay {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100vw;
        height: 100vh;
        overflow: auto;

        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity var(--transition-duration) ease-in-out;
        z-index: 700;
    }

    &__overlay--entered {
        opacity: 1;
    }

    &__overlay--exited {
        opacity: 0;
    }

    &__content {
        width: 65vw;
        max-width: var(--site-container-max-size);
        margin: auto;
        border: 1px solid var(--color-border-subtlest);
        border-radius: var(--space-150);
        background-color: var(--color-background-neutral-subtlest-default, #ffffff);
        outline: none;
        transform: translateY(50px);
        transition: transform var(--transition-duration);

        &--isPositionFixed {
            position: relative;
            top: 15vh;
            height: 65vh;
            overflow: auto;
        }
    }

    &__content--entered {
        transform: translateY(0);
    }

    &__content--exited {
        transform: translateY(50px);
    }
}
