@import '../../../themes/oneui/oneui';

.SelectButtonGroup {
    background-color: var(--color-neutral-10);
    display: inline-flex;
    border-radius: var(--border-radius);

    &--isBlock {
        display: flex;
        width: 100%;
    }
}
