@import '../../themes/oneui/oneui';

.Field {
    &__label {
        margin: 0;
        margin-bottom: var(--space-100);
        font-weight: var(--font-weight-medium);
        color: var(--color-foreground);
    }
}
