.Field {
    &__label {
        margin: 0;
        margin-bottom: var(--space-100);
        font-weight: var(--font-weight-normal);
        color: var(--color-foreground);
        composes: OneUI-caption-text from global;
    }
}
