$drawer-head-height: 40px;
$open-transition-duration: 170ms;
$icon-size: 26px;

.Drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 100px;
    width: var(--drawer-width);
    max-height: 100vh;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
    z-index: var(--drawer-z-index);
    transform: translateY(100%);
    transition-duration: $open-transition-duration;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--isShownAndClosed {
        transform: translateY(100%) translateY($drawer-head-height * -1);
    }

    &--isShownAndExpanded {
        transform: translateY(0%);
    }

    &__head {
        padding: 0 var(--space-200);
        display: flex;
        align-items: center;
        height: $drawer-head-height;
        background-color: var(--color-neutral-80);
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        outline: 0;

        &--isPrimary {
            background-color: var(--color-brand-50);
        }
    }

    &__headTitle {
        composes: OneUI-heading-3 from global;
        color: var(--color-background);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__headButtons {
        flex-shrink: 0;
        margin-left: auto;
    }

    &__expandButton {
        display: inline-block;
        vertical-align: middle;
        height: $icon-size;
        width: $icon-size;
        padding: 0;
        cursor: pointer;
        background-color: var(--transparent);
        color: var(--color-neutral-10);
        border: none;
        border-radius: 50%;
        outline: 0;
        transition: background-color var(--transition-duration) ease, transform 0ms ease $open-transition-duration;

        &--isExpanded {
            transform: rotate(180deg);
        }

        &:hover,
        &:focus {
            background-color: var(--color-neutral-70);
        }

        &:active {
            background-color: var(--color-neutral-60);
        }

        &--isPrimary {
            color: var(--color-neutral-10);
            &:hover,
            &:focus {
                background-color: var(--color-brand-60);
            }

            &:active {
                background-color: var(--color-brand-80);
            }
        }
    }

    &__expandIcon {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    &__body {
        overflow: auto;
        background-color: var(--color-background);
        border-left: 1px solid var(--color-neutral-20);
        border-right: 1px solid var(--color-neutral-20);

        &--isPrimary {
            border-left: 1px solid var(--color-brand-50);
            border-right: 1px solid var(--color-brand-50);
        }
    }
}
