:root {
    --color-background-ai-bold-default: var(--color-ai-50);
    --color-background-ai-bold-disabled: var(--color-ai-20);
    --color-background-ai-bold-hover: var(--color-ai-60);
    --color-background-ai-bold-pressed: var(--color-ai-70);
    --color-background-ai-subtlest-default: var(--color-ai-5);
    --color-background-ai-subtlest-disabled: var(--color-ai-5);
    --color-background-ai-subtlest-hover: var(--color-ai-10);
    --color-background-ai-subtlest-pressed: var(--color-ai-20);
    --color-background-brand-bold-default: var(--color-brand-50);
    --color-background-brand-bold-disabled: var(--color-brand-20);
    --color-background-brand-bold-hover: var(--color-brand-60);
    --color-background-brand-bold-pressed: var(--color-brand-70);
    --color-background-brand-subtlest-default: var(--color-brand-5);
    --color-background-brand-subtlest-disabled: var(--color-brand-5);
    --color-background-brand-subtlest-hover: var(--color-brand-10);
    --color-background-brand-subtlest-pressed: var(--color-brand-20);
    --color-background-caution-bold-default: var(--color-cautioun-50);
    --color-background-caution-bold-disabled: var(--color-cautioun-20);
    --color-background-caution-bold-hover: var(--color-cautioun-60);
    --color-background-caution-bold-pressed: var(--color-cautioun-70);
    --color-background-caution-subtlest-default: var(--color-cautioun-5);
    --color-background-caution-subtlest-disabled: var(--color-cautioun-5);
    --color-background-caution-subtlest-hover: var(--color-cautioun-10);
    --color-background-caution-subtlest-pressed: var(--color-cautioun-20);
    --color-background-critical-bold-default: var(--color-critical-50);
    --color-background-critical-bold-disabled: var(--color-critical-20);
    --color-background-critical-bold-hover: var(--color-critical-60);
    --color-background-critical-bold-pressed: var(--color-critical-70);
    --color-background-critical-subtlest-default: var(--color-critical-5);
    --color-background-critical-subtlest-disabled: var(--color-critical-5);
    --color-background-critical-subtlest-hover: var(--color-critical-10);
    --color-background-critical-subtlest-pressed: var(--color-critical-20);
    --color-background-info-bold-default: var(--color-info-50);
    --color-background-info-bold-disabled: var(--color-info-20);
    --color-background-info-bold-hover: var(--color-info-60);
    --color-background-info-bold-pressed: var(--color-info-70);
    --color-background-info-subtlest-default: var(--color-info-5);
    --color-background-info-subtlest-disabled: var(--color-info-5);
    --color-background-info-subtlest-hover: var(--color-info-10);
    --color-background-info-subtlest-pressed: var(--color-info-20);
    --color-background-input-default: var(--color-neutral-0);
    --color-background-input-hover: var(--color-neutral-5);
    --color-background-input-pressed: var(--color-neutral-0);
    --color-background-input-read-only: var(--color-neutral-5);
    --color-background-neutral-bold-default: var(--color-neutral-50);
    --color-background-neutral-bold-disabled: var(--color-neutral-20);
    --color-background-neutral-bold-hover: var(--color-neutral-60);
    --color-background-neutral-bold-pressed: var(--color-neutral-70);
    --color-background-neutral-subtle-default: var(--color-neutral-10);
    --color-background-neutral-subtle-disabled: var(--color-neutral-10);
    --color-background-neutral-subtle-hover: var(--color-neutral-20);
    --color-background-neutral-subtle-pressed: var(--color-neutral-30);
    --color-background-neutral-subtlest-default: var(--color-neutral-0);
    --color-background-neutral-subtlest-disabled: var(--color-neutral-0);
    --color-background-neutral-subtlest-hover: var(--color-neutral-10);
    --color-background-neutral-subtlest-pressed: var(--color-neutral-20);
    --color-background-selected-bold-default: var(--color-info-50);
    --color-background-selected-bold-disabled: var(--color-info-20);
    --color-background-selected-bold-hover: var(--color-info-60);
    --color-background-selected-bold-pressed: var(--color-info-70);
    --color-background-selected-subtlest-default: var(--color-info-5);
    --color-background-selected-subtlest-disabled: var(--color-info-5);
    --color-background-selected-subtlest-hover: var(--color-info-10);
    --color-background-selected-subtlest-pressed: var(--color-info-20);
    --color-background-success-bold-default: var(--color-success-50);
    --color-background-success-bold-disabled: var(--color-success-20);
    --color-background-success-bold-hover: var(--color-success-60);
    --color-background-success-bold-pressed: var(--color-success-70);
    --color-background-success-subtlest-default: var(--color-success-5);
    --color-background-success-subtlest-disabled: var(--color-success-5);
    --color-background-success-subtlest-hover: var(--color-success-10);
    --color-background-success-subtlest-pressed: var(--color-success-20);
    --color-blanket-default: var(--color-transparent-100-20);
    --color-blanket-focused: var(--color-transparent-100-80);
    --color-border-bold: var(--color-neutral-50);
    --color-border-disabled: var(--color-neutral-20);
    --color-border-focused: var(--color-info-20);
    --color-border-input: var(--color-neutral-50);
    --color-border-inverse: var(--color-neutral-0);
    --color-border-selected: var(--color-info-50);
    --color-border-subtle: var(--color-neutral-30);
    --color-border-subtlest: var(--color-neutral-10);
    --color-border-ai-bold-default: var(--color-ai-50);
    --color-border-ai-bold-disabled: var(--color-ai-20);
    --color-border-ai-subtle-default: var(--color-ai-30);
    --color-border-brand-bold-default: var(--color-brand-50);
    --color-border-brand-bold-disabled: var(--color-brand-20);
    --color-border-brand-subtle-default: var(--color-brand-30);
    --color-border-caution-bold-default: var(--color-cautioun-50);
    --color-border-caution-bold-disabled: var(--color-cautioun-20);
    --color-border-caution-subtle-default: var(--color-cautioun-30);
    --color-border-critical-bold-default: var(--color-critical-50);
    --color-border-critical-bold-disabled: var(--color-critical-30);
    --color-border-critical-subtle-default: var(--color-critical-30);
    --color-border-info-bold-default: var(--color-info-50);
    --color-border-info-bold-disabled: var(--color-info-20);
    --color-border-info-subtle-default: var(--color-info-30);
    --color-border-success-bold-default: var(--color-success-50);
    --color-border-success-bold-disabled: var(--color-success-20);
    --color-border-success-subtle-default: var(--color-success-30);
    --color-icon-bold: var(--color-neutral-100);
    --color-icon-disabled: var(--color-neutral-30);
    --color-icon-inverse: var(--color-neutral-0);
    --color-icon-subtle: var(--color-neutral-70);
    --color-icon-subtlest: var(--color-neutral-50);
    --color-icon-ai-default: var(--color-ai-60);
    --color-icon-ai-disabled: var(--color-ai-30);
    --color-icon-brand-default: var(--color-brand-60);
    --color-icon-brand-disabled: var(--color-brand-30);
    --color-icon-caution-default: var(--color-cautioun-60);
    --color-icon-caution-disabled: var(--color-cautioun-30);
    --color-icon-caution-inverse-default: var(--color-neutral-90);
    --color-icon-caution-inverse-disabled: var(--color-neutral-50);
    --color-icon-critical-default: var(--color-critical-60);
    --color-icon-critical-disabled: var(--color-critical-30);
    --color-icon-info-default: var(--color-info-60);
    --color-icon-info-disabled: var(--color-info-30);
    --color-icon-link-regular-hover: var(--color-info-70);
    --color-icon-link-regular-inactive: var(--color-info-60);
    --color-icon-link-visited-hover: var(--color-info-90);
    --color-icon-link-visited-inactive: var(--color-info-80);
    --color-icon-selected-default: var(--color-info-70);
    --color-icon-selected-disabled: var(--color-info-30);
    --color-icon-success-default: var(--color-success-60);
    --color-icon-success-disabled: var(--color-success-30);
    --color-interaction-hovered: var(--color-transparent-100-50);
    --color-interaction-pressed: var(--color-transparent-100-70);
    --color-link-default: var(--color-info-60);
    --color-link-pressed: var(--color-info-70);
    --color-link-visited-default: var(--color-info-80);
    --color-link-visited-pressed: var(--color-info-90);
    --color-text-bold: var(--color-neutral-100);
    --color-text-disabled: var(--color-neutral-30);
    --color-text-inverse: var(--color-neutral-0);
    --color-text-subtle: var(--color-neutral-70);
    --color-text-subtlest: var(--color-neutral-50);
    --color-text-ai-default: var(--color-ai-60);
    --color-text-ai-disabled: var(--color-ai-30);
    --color-text-brand-default: var(--color-brand-60);
    --color-text-brand-disabled: var(--color-brand-30);
    --color-text-caution-default: var(--color-cautioun-60);
    --color-text-caution-disabled: var(--color-cautioun-30);
    --color-text-caution-inverse-default: var(--color-neutral-90);
    --color-text-caution-inverse-disabled: var(--color-neutral-50);
    --color-text-critical-default: var(--color-critical-60);
    --color-text-critical-disabled: var(--color-critical-30);
    --color-text-info-default: var(--color-info-60);
    --color-text-info-disabled: var(--color-info-30);
    --color-text-selected-default: var(--color-info-70);
    --color-text-selected-disabled: var(--color-info-30);
    --color-text-success-default: var(--color-success-60);
    --color-text-success-disabled: var(--color-success-30);
}
