@import '../../themes/oneui/oneui.scss';

.Header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--border-color-strong);
    box-shadow: 0 1px 3px var(--border-color-light);

    &__wrapper {
        box-sizing: border-box;
        max-width: var(--site-container-size);
        height: 100%;
        padding: var(--spacing-normal);
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &__logo {
        height: var(--header-content-height);
    }
}
