@import '../../themes/oneui/oneui.scss';

.Header {
    background-color: var(--header-background-color);
    color: var(--header-foreground-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-light-40);

    &__wrapper {
        box-sizing: border-box;
        padding-top: var(--spacing-normal);
        padding-bottom: var(--spacing-normal);
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &__logo {
        height: var(--header-content-height);
    }
}
