.PillButtonEnhanced {
    composes: OneUI-label-text from global;
    display: inline-flex;
    justify-items: start;
    border: solid 1px var(--color-border-subtlest);
    border-radius: var(--space-50);
    align-items: center;
    height: var(--space-400);
    box-sizing: border-box;

    &--isActive {
        background: var(--color-background-selected-subtlest-default, #e6f2ff);

        &[aria-disabled='true'] {
            background: var(--color-background-selected-subtlest-disabled);
        }
    }

    &:has(.PillButtonEnhanced__main[data-state='open']) {
        background: var(--color-background-selected-subtlest-pressed, #e6f2ff);
    }

    &:has(.PillButtonEnhanced__main:active):not([aria-disable='true']) {
        background: var(--color-background-selected-subtlest-pressed, #e6f2ff);
    }

    &__priority {
        border-radius: var(--space-50) 0 0 var(--space-50);
        border-right: solid 1px var(--color-border-subtlest);
        flex-shrink: 0;
    }

    &__main {
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 220px;
        white-space: nowrap;
        padding: var(--space-75) var(--space-100);
        box-sizing: border-box;
        border-radius: inherit;

        &[aria-disabled='true'] {
            cursor: not-allowed;
            background: var(--color-background-disabled);
        }

        &:active:not([aria-disabled='true']) {
            border: var(--space-25) solid var(--color-border-selected);
            padding: var(--space-50) var(--space-75);
        }

        &:focus-visible:not([aria-disabled='true']):not(:active) {
            border: var(--space-25) solid var(--color-info-20, #99caff);
            padding: var(--space-50) var(--space-75);
            outline: none;
        }

        &:hover:not([aria-disabled='true']):not([data-state='open']) {
            background-color: var(--color-background-neutral-subtlest-hover);
        }

        &[data-state='open'] {
            border: var(--space-25) solid var(--color-border-selected, #007aff);
            padding: var(--space-50) var(--space-75);
            background-color: var(--color-background-neutral-subtlest-hover);
        }

        &--isActive {
            border-radius: 0;

            &:active:not([aria-disabled='true']) {
                background: var(--color-background-selected-subtlest-pressed, #e6f2ff);
            }

            &:hover:not([aria-disabled='true']):not([data-state='open']) {
                background: var(--color-background-selected-subtlest-hover, #cce4ff);
            }

            &[aria-disabled='true'] {
                background: var(--color-background-selected-subtlest-disabled);
            }

            &[data-state='open'] {
                background: var(--color-background-selected-subtlest-pressed, #e6f2ff);
            }
        }
    }

    &__name {
        color: var(--color-text-bold, #000);
    }

    &__valueSeparator {
        padding-left: var(--space-25);
    }

    &__arrowIcon {
        display: flex;
        margin-left: var(--space-75);
        color: inherit;

        & svg {
            fill: var(--color-icon-subtle);
        }
    }

    &__clear.Button {
        border-radius: 0 var(--space-50) var(--space-50) 0;
        border-left: 1px solid var(--color-border-subtlest);
        padding: var(--space-100);

        & svg {
            fill: var(--color-icon-brand-default);
        }

        &[disabled] svg {
            fill: var(--color-icon-brand-disabled);
        }
    }

    &__content {
        color: var(--color-text-selected-default, #004999);
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: var(--space-50);
    }

    &__contentSeparator {
        color: var(--color-text-selected-default, #004999);
    }

    &__additionalContent {
        color: var(--color-text-selected-default, #004999);
        margin-left: var(--space-50);
    }

    &[aria-disabled='true'] {
        cursor: not-allowed;

        .PillButtonEnhanced__name,
        .PillButtonEnhanced__valueSeparator,
        .PillButtonEnhanced__arrowIcon svg {
            color: var(--color-text-disabled);
            fill: var(--color-text-disabled);
        }

        .PillButtonEnhanced__content,
        .PillButtonEnhanced__contentSeparator,
        .PillButtonEnhanced__additionalContent {
            color: var(--color-text-selected-disabled);
        }
    }
}
