@import '../../../themes/oneui/oneui';

.SearchButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-size: var(--font-size-normal);
    height: var(--search-button-size);
    width: var(--search-button-size);
    margin: 0;

    border: none;
    border-radius: calc(var(--search-button-size) / 2);

    color: var(--color-background);
    background-color: var(--color-brand-50);

    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all var(--transition-duration);

    &:hover {
        background-color: var(--color-brand-60);
    }

    &[disabled] {
        background-color: var(--color-brand-20);
        cursor: not-allowed;
    }

    &:focus {
        background-color: var(--color-brand-80);
    }

    &:active {
        background-color: var(--color-brand-80);
    }

    &--withLabel {
        width: auto;
        padding: 0 var(--space-150);
    }

    &__searchIcon {
        &--withLabel {
            padding-right: var(--space-75);
        }
    }
}
