.SearchButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-size: var(--font-size-normal);
    height: var(--search-button-size);
    width: var(--search-button-size);
    margin: 0;

    border: none;
    border-radius: calc(var(--search-button-size) / 2);

    color: var(--color-background);
    background-color: var(--color-primary);

    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all var(--transition-duration);

    &:hover {
        background-color: var(--color-primary-60);
    }

    &[disabled] {
        background-color: var(--color-primary-25);
        box-shadow: none;
        cursor: not-allowed;
    }

    &:focus {
        background-color: var(--color-primary-75);
    }

    &:active {
        background-color: var(--color-primary-75);
    }

    &--withLabel {
        width: auto;
        padding: 0 var(--spacing-4x);
    }

    &__searchIcon {
        &--withLabel {
            padding-right: var(--spacing-2x);
        }
    }
}
