@import '../../themes/oneui/oneui';

.Checkbox {
    &__box {
        background-color: var(--color-background);
        border: 1px solid var(--color-neutral-30);
        border-radius: var(--border-radius);
        box-sizing: content-box;
        display: inline-block;
        position: relative;
        top: -1px;
        width: 12px;
        height: 12px;
        transform: scale(1);
        transition: all var(--transition-duration) ease;
        vertical-align: middle;
        margin-right: var(--spacing-2x);

        &--asFlexbox {
            flex-shrink: 0;
        }

        &:focus,
        &:hover {
            border: 1px solid var(--color-primary);
            stroke: var(--color-highlight-background);
            background-color: var(--color-highlight-background);
        }

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--color-primary);
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
        }
    }

    &__label {
        margin: auto;
        user-select: none;
        cursor: pointer;
        display: block;

        &--asFlexbox {
            display: flex;
            align-items: center;
        }
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: none;
        stroke: var(--color-background);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &__input {
        display: none;

        &--indeterminate {
            + .Checkbox__label {
                .Checkbox__box {
                    background: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }

        &:checked {
            + .Checkbox__label {
                .Checkbox__box {
                    background: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }
    }

    &__text {
        padding: var(--spacing-normal) 0;
    }

    &--disabled {
        &:hover {
            .Checkbox__label {
                .Checkbox__box {
                    border-color: var(--color-neutral-70);
                }
            }
        }

        .Checkbox__input {
            + .Checkbox__label {
                cursor: not-allowed;
            }

            &--indeterminate {
                + .Checkbox__label {
                    .Checkbox__box {
                        background: var(--color-neutral-70);
                        border-color: var(--color-neutral-70);
                    }
                }
            }

            &:checked {
                + .Checkbox__label {
                    .Checkbox__box {
                        border-color: var(--color-neutral-70);
                        background: var(--color-neutral-70);
                    }
                }
            }
        }
    }
}
