.Checkbox {
    &__box {
        background-color: var(--color-background-selected-subtlest-default, #E6F2FF);
        border: var(--border-width-thick) solid var(--color-border-input, #808080);
        border-radius: var(--border-width-thick);
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        top: -1px;
        width: var(--font-size-normal);
        height: var(--font-size-normal);
        transition: all var(--transition-duration) ease;
        vertical-align: middle;
        margin-right: var(--space-75);

        & svg {
            display: none;
        }

        &--asFlexbox {
            flex-shrink: 0;
        }
    }

    &__label {
        margin: auto;
        user-select: none;
        cursor: pointer;
        display: block;

        &--asFlexbox {
            display: flex;
            align-items: center;
        }

        &:hover {
            .Checkbox__box {
                background: var(--color-background-selected-subtlest-hover, #CCE4FF);
            }
        }

        &:active {
            .Checkbox__box {
                background: var(--color-background-selected-subtlest-pressed, #99CAFF);
            }
        }
    }

    &__svg {
        position: absolute;
        top: var(--border-width-thick);
        left: 0;
        fill: none;
        fill-rule:evenodd;
        clip-rule:evenodd;
        stroke: var(--color-background-information-subtlest-default);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &--disabled {
        .Checkbox__label {
            .Checkbox__box {
                background: var(--color-background-selected-subtlest-disabled, #E6F2FF);
                border-color: var(--color-border-disabled, #CCC); 

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    &__input {
        width: 0;
        height: 0;

        &:focus {
            + .Checkbox__label {
                .Checkbox__box {
                    box-shadow: 0px 0px 0px 2px var(--color-info-20, #99CAFF);
                }
            }
        }

        &:checked {
            + .Checkbox__label {
                .Checkbox__box {
                    background: var(--color-background-selected-bold-default, #007AFF);
                    border-color: var(--color-background-selected-bold-default, #007AFF);

                    & svg {
                        display: block;
                    }
                }
                    
                &:hover {
                    .Checkbox__box {
                        background: var(--color-background-selected-bold-hover, #0062CC);
                        border-color: var(--color-background-selected-bold-hover, #0062CC);
                    }
                }
                    
                &:active {
                    .Checkbox__box {
                        background: var(--color-background-selected-bold-pressed, #004999);
                        border-color: var(--color-background-selected-bold-pressed, #0062CC);
                    }
                }
            }
        }
    }

    &__text {
        composes: OneUI-label-text from global;
        padding: var(--space-50) 0;
    }

    /* stylelint-disable no-duplicate-selectors */
    &--disabled {
        /* stylelint-disable no-descending-specificity */
        .Checkbox__input {
            + .Checkbox__label {
                cursor: not-allowed;
            }

            &:checked {
                + .Checkbox__label {
                    .Checkbox__box {
                        background: var(--color-background-selected-bold-disabled, #99CAFF);
                        border-color: var(--color-background-selected-bold-disabled, #99CAFF);
                    }
                }
            }
        }
    }
    /* stylelint-enable no-duplicate-selectors, no-descending-specificity */
}
