.ButtonSelect {
    &__main {
        display: flex;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        transition-property: box-shadow, transform, border-color;
        transition-duration: var(--transition-duration);
        border-radius: var(--border-radius);
    }

    &__button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 1px;
    }

    &__dropdownButton {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &__listHeader {
        border-bottom: 1px solid var(--color-neutral);
    }

    &__list {
        background-color: var(--color-background);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-neutral);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    &__dropdownIcon {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
    }
}
