@import '../../themes/oneui/oneui';

.ButtonGroup {
    display: inline-flex;

    &__button {
        border-radius: 0;

        &--first {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &--last {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        ~ .ButtonGroup__button {
            margin-left: -1px;
        }


        &:not(.ButtonGroup__button--first):not(:focus) {
            border-left-color: var(--color-neutral-30);
        }

        &:not(.ButtonGroup__button--last):not(:focus) {
            border-right-color: var(--color-neutral-30);
        }

    }

    &__button--isPrimary {
        &:not(.ButtonGroup__button--first):not(:focus) {
            border-left-color: var(--color-primary-25);
        }

        &:not(.ButtonGroup__button--last):not(:focus) {
            border-right-color: var(--color-primary-25);
        }
    }

    &--isBlock {
        display: flex;
        width: 100%;
    }

    &__button--isBlock {
        flex-grow: 1;
    }
}
