$text-input-height: 36px;
$location-card-width: 300px;
$icon-margin-adjustment: 5px 1px -3px 3px;

$modal-width: 75%;
$modal-min-width: 2 * $location-card-width;
$modal-min-height: 400px;

.LocationSelector {
    &__mainTextButtonWrapper {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        height: $text-input-height;
    }

    &__mainTextButton {
        background-color: white;
        display: inline-block;
        text-align: left;
        padding-left: 0;
        border: 0;
        margin: var(--spacing-normal);
        font-size: var(--font-size-normal);
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
        outline: none;
        pointer-events: none;

        &--muted {
            color: var(--color-muted);
        }
    }

    &__icon {
        color: var(--color-muted);
        margin: $icon-margin-adjustment;
    }

    &__modal {
        display: flex;
        flex-direction: column;
        max-width: $modal-width;
        min-width: $modal-min-width;
        min-height: $modal-min-height;
    }
}
