$modal-width: 75%;
$location-card-width: 300px;
$icon-margin-adjustment: 0px 1px -1px 3px;

.LocationSelector {
    &__mainTextInput {
        display: inline-block;
        border: 0;
        margin: var(--spacing-normal);
        font-size: var(--font-size-normal);

        &--muted {
            color: var(--color-muted);
        }
    }

    &__icon {
        color: var(--color-muted);
        margin: $icon-margin-adjustment;
    }

    &__modal {
        display: flex;
        flex-direction: column;
        width: $modal-width;
    }

    &__inputLine {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: var(--spacing-4x);
    }

    &__searchField {
        flex-basis: 80%;
        min-width: 100px;
    }

    &__button {
        flex-basis: 20%;
        margin-left: var(--spacing-4x);
    }

    &__locationsWrapper {
        display: flex;
        height: 100%;
    }

    &__locationCardsContainer {
        padding: 0;
        margin: 0;
        width: $location-card-width;
        min-width: $location-card-width;
        padding-right: calc(var(--spacing-4x) - 1px);
        overflow: scroll;
    }

    &__locationCard:not(:last-child) {
        margin-bottom: var(--spacing-normal);
    }
}
