@import '../../themes/oneui/oneui';

.WeightedResultBar {
    + .WeightedResultBar {
        margin-top: var(--spacing-4x);
    }

    &__details {
        margin-bottom: var(--spacing-2x);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__placeholder {
        margin-bottom: 0;
        flex-grow: 2;
    }
}
