.WeightedResultBar {
    + .WeightedResultBar {
        margin-top: var(--space-150);
    }

    &__details {
        margin-bottom: var(--space-75);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__placeholder {
        margin-bottom: 0;
        flex-grow: 2;
    }
}
