@import '../../themes/oneui/oneui';

.Footer {
    background-color: var(--footer-background-color);
    color: var(--footer-foreground-color);
    width: 100%;
    height: var(--footer-height);

    a {
        color: var(--footer-link-color);

        &:hover {
            color: var(--footer-link-color);
        }
    }

    &__wrapper {
        box-sizing: border-box;
        padding-top: var(--spacing-normal);
        padding-bottom: var(--spacing-normal);
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
    }

    &__logo {
        fill: var(--footer-foreground-color);
    }
}
