.Footer {
    background-color: var(--color-neutral-80);
    color: var(--footer-foreground-color);
    min-width: var(--site-container-min-size);
    height: var(--footer-height);

    a {
        color: var(--color-background);
        font-weight: var(--font-weight-bold);

        &:hover {
            color: var(--color-background);
            font-weight: var(--font-weight-bold);
        }
    }

    &__wrapper {
        box-sizing: border-box;
        padding-top: var(--space-50);
        padding-bottom: var(--space-50);
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
    }

    &__logo {
        fill: var(--footer-foreground-color);
        composes: OneUI-label-text from global;
    }

    &__menu {
        composes: OneUI-label-text from global;
    }
}
