.Autosuggest {
    position: relative;
    min-height: 38px;

    &__main {
        position: relative;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: var(--color-background);
        transition-property: box-shadow, transform, border-color;
        transition-duration: var(--transition-duration);
        border-radius: var(--border-radius);
        z-index: 200;

        &--focused {
            position: absolute;
            width: 100%;
        }

        &--isProminent {
            transform-origin: left top;

            &.Autosuggest__main--focused {
                transform: scale(1.1);
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
            }
        }
    }

    &__field {
        padding: 0;
    }

    &__wrapper {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 30px;
        height: 30px; // make IE happier
        outline: none;
        padding: var(--spacing-normal);

        &--focused {
            height: auto;
        }
    }

    &__spacedElem {
        margin: var(--spacing-normal);
    }

    &__input {
        border: 0;
        margin: var(--spacing-normal);
        flex: 1;
        font-size: var(--font-size-normal);
        min-width: 150px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--color-muted);
        }
    }

    &__list--focused {
        max-height: 214px;
        overflow: auto;
        border-top: 1px solid var(--border-color-light);
        margin-top: -1px;
    }

    &__loaderContainer {
        width: 250px;
    }
}
