@import '../../themes/nice/nice.scss';

/* block "Dummy" */
.Dummy {
    display: inline-block;
    background-color: $color-info;
    padding: 8px 16px;
    border-radius: 2px;
    transition: transform 0.2s;

    /* block "Dummy", modifier "isActive" */
    &--isActive {
        border: 1px solid $color-good;
        background-color: $color-good;
        transform: rotate(-15deg);
        cursor: pointer;
    }

    &--isActive:hover {
        transform: rotate(0deg);
    }

    &--isClicked {
        border-style: dashed;
    }

    /* block "Dummy", element "label" */
    &__label {
        color: $color-bad;
    }

    /* block "Dummy", element "label", modifier "isActive" */
    &__label--isActive {
        color: $color-warning;
    }

}
