.SearchButton {
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;

    height: var(--search-button-size);
    width: var(--search-button-size);
    margin: 0;

    border: {
        radius: 50%;
        width: var(--line-normal);
        style: solid;
        color: var(--color-primary);
    }
    color: var(--color-background);
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px var(--color-primary-40);

    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all var(--transition-duration);

    &:hover {
        border-color: var(--color-primary-60);
        background-color: var(--color-primary-60);
    }
    &:focus,
    &[disabled] {
        background-color: var(--color-primary-25);
        border-color: var(--color-primary-25);
    }

    &:focus,
    &:active {
        z-index: 100;
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}
