.Dialog {

    &__header {
        padding: var(--space-200);
    }

    &__trigger {
         all: unset;
         cursor: pointer;
    }

    &__dialog {
        width: 400px;
    }
    &__content {
        max-height: 600px; // we need to decide on the max height we want..
        overflow-y: auto;
        white-space: normal;
    }

    &__actions {
        display: flex;
        justify-content: flex-start;
        align-content: baseline;
        margin-top: var(--space-75);
        padding: var(--space-100);
        border-top: 1px solid var(--color-neutral-20);
    }

    &__cancel {
        margin-right: var(--space-75);
    }

    &__title {
        margin-bottom: var(--space-75);
    }
}
