@import '../../../themes/oneui/oneui.scss';

.Dialog {
    width: 400px;

    &__content {
        padding: var(--spacing-5x);
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        align-content: baseline;
        margin-top: var(--spacing-2x);
        padding: var(--spacing-3x);
        border-top: 1px solid var(--color-neutral-25);
    }

    &__cancel {
        margin-right: var(--spacing-2x);
    }

    &__title {
        margin-bottom: var(--spacing-2x);
    }
}
