.Chip {
    display: inline-block;
    font-size: var(--font-size-normal);
    padding: var(--space-75) var(--space-200);
    background-color: var(--color-neutral-10);
    border-radius: var(--space-200) / 50%;
    margin: 0 var(--space-75) var(--space-75) 0;
    white-space: nowrap;

    &:last-of-type {
        margin-right: 0;
    }
}
