@import '../../themes/oneui/oneui';

.Chip {
    display: inline-block;
    font-size: var(--font-size-normal);
    padding: var(--spacing-2x) var(--spacing-5x);
    background-color: var(--color-light-25);
    border-radius: var(--spacing-5x) / 50%;
    margin: 0 var(--spacing-2x) var(--spacing-2x) 0;
    white-space: nowrap;

    &:last-of-type {
        margin-right: 0;
    }
}
