.SingleSelectItem {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px var(--space-150);
    outline: none;

    &:focus-visible,
    &--isHighlighted {
        border: var(--border-width-thick) solid var(--color-info-20);
        padding: calc(10px - var(--border-width-thick))
            calc(var(--space-150) - var(--border-width-thick));
    }

    &:hover {
        background-color: var(--color-background-neutral-subtlest-hover);
        padding: 10px var(--space-150);
    }

    &:active {
        background-color: var(--color-background-neutral-subtlest-pressed);
    }

    &--disabled.SingleSelectItem:hover {
        background-color: var(--color-background-neutral-subtlest-disabled);
        color: var(--color-text-disabled);
        border: none;
    }

    &--disabled {
        background-color: var(--color-background-neutral-subtlest-disabled);
        color: var(--color-text-disabled);
        border: none;
        cursor: not-allowed;
    }

    &--isSelected.SingleSelectItem:hover {
        background-color: var(--color-background-selected-subtlest-hover);
        color: var(--color-link-default);
        border: none;
    }

    &--isSelected.SingleSelectItem:active {
        background-color: var(--color-background-selected-subtlest-pressed);
    }

    &--isSelected {
        background-color: var(--color-background-selected-subtlest-default);
        color: var(--color-text-selected-default);
    }

    &--isSelected.SingleSelectItem--disabled {
        background-color: var(--color-background-selected-subtlest-default);
        color: var(--color-link-default);

        &:active {
            background-color: var(--color-background-selected-subtlest-hover);
        }

        &:hover {
            background-color: var(--color-background-selected-subtlest-default);
        }
    }

    &__text {
        composes: OneUI-label-text from global;
    }
}
