.ExpandableText {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
    align-items: flex-start;

    &__content {
        text-overflow: ellipsis;
        overflow: hidden;
        transition: height var(--transition-duration) ease;
    }

    &__buttonArrow {
        margin-left: var(--space-25);
        transition: transform var(--transition-duration);
    }

    &__buttonArrow--isCollapsed {
        transform: rotateX(180deg);
    }
}
