.Tooltip {
    background-color: var(--color-neutral-90);
    color: var(--color-background);
    box-sizing: border-box;
    padding: var(--spacing-3x);
    border-radius: var(--border-radius);
    max-width: 350px;
    opacity: 0;
    animation: appearing 0.3s forwards;

    &__arrow {
        position: absolute;
    }

    [data-popper-placement^="top"] & {
        margin-bottom: var(--spacing-5x);
        transform: translateY(-20px);
    }
    [data-popper-placement^="top"] &__arrow {
        border-top: 6px solid var(--color-neutral-90);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        bottom: -6px;
        left: calc(50% - 6px);
        margin-top: 0;
        margin-bottom: 0;
    }
    [data-popper-placement^="top-start"] &__arrow {
        left: var(--spacing-3x);
    }
    [data-popper-placement^="top-end"] &__arrow {
        left: auto;
        right: var(--spacing-3x);
    }
    [data-popper-placement^="bottom"] & {
        margin-top: var(--spacing-5x);
        transform: translateY(20px);
    }
    [data-popper-placement^="bottom"] &__arrow {
        border-bottom: 6px solid var(--color-neutral-90);
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: -6px;
        left: calc(50% - 6px);
        margin-top: 0;
        margin-bottom: 0;
    }
    [data-popper-placement^="bottom-start"] &__arrow {
        left: var(--spacing-3x);
    }
    [data-popper-placement^="bottom-end"] &__arrow {
        left: auto;
        right: var(--spacing-3x);
    }
    [data-popper-placement^="right"] & {
        margin-left: var(--spacing-5x);
        transform: translateX(20px);
    }
    [data-popper-placement^="right"] &__arrow {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid var(--color-neutral-90);
        left: -6px;
        top: calc(50% - 6px);
        margin-left: 0;
        margin-right: 0;
    }
    [data-popper-placement^="right-start"] &__arrow {
        top: var(--spacing-3x);
    }
    [data-popper-placement^="right-end"] &__arrow {
        top: auto;
        bottom: var(--spacing-3x);
    }
    [data-popper-placement^="left"] & {
        margin-right: var(--spacing-5x);
        transform: translateX(-20px);
    }
    [data-popper-placement^="left"] &__arrow {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid var(--color-neutral-90);
        right: -6px;
        top: calc(50% - 6px);
        margin-left: 0;
        margin-right: 0;
    }
    [data-popper-placement^="left-start"] &__arrow {
        top: var(--spacing-3x);
    }
    [data-popper-placement^="left-end"] &__arrow {
        top: auto;
        bottom: var(--spacing-3x);
    }
        
    @keyframes appearing {
        100% {
            opacity: 1;
            transform: translateX(0) translateY(0);
        }
    }
}
