@use 'sass:list';
@import '../../themes/oneui/constants/colors';

$icon-size: 16px;

.Callout {
    display: flex;
    padding: var(--space-200);
    align-items: flex-start;

    &__content {
        flex-grow: 1;
        composes: OneUI-label-text from global;
    }

    &__closeButton {
        display: block;
        flex-shrink: 0;
        height: var(--icon-size);
        width: var(--icon-size);
        padding: 0;
        padding-left: var(--space-200);
        margin-left: auto;
        cursor: pointer;
        background-color: var(--transparent);
        border: none;
        outline: 0;
        transition: color var(--transition-duration) ease;
    }

    &__closeIcon {
        font-size: 16px;
    }

    @each $context in list.append($contexts, 'info') {
        &--context_#{$context} {
            background-color: var(--color-#{$context}-10);
        }
        &__content--context_#{ $context } {
            color: var(--color-#{$context}-80);
        }

        &__closeButton--context_#{ $context } {
            color: var(--color-#{$context}-60);
        }

        &__closeButton--context_#{ $context }:hover,
        &__closeButton--context_#{ $context }:focus {
            color: var(--color-#{$context}-80);
        }
    }
}
