@import '../../themes/oneui/oneui';

.Toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__toggleContainer {
        width: 36px;
        height: 20px;
        border-radius: 20px;
        position: relative;
        background-color: var(--color-neutral-30);
        transition: border-color 300ms;
        flex-shrink: 0;

        .Toggle__realCheckbox {
            position: absolute;
            clip: rect(0,0,0,0);

            & + .Toggle__toggleButton {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 20px;
                transition: all 300ms;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin: 1px;
                    background-color: white;
                    border-radius: 50%;
                    transition: all 300ms ease-in-out;
                }

            }

            &:checked {
                + .Toggle__toggleButton {
                    background-color: var(--color-success-40);

                    &::before{
                        margin-left: 17px;
                    }
                }

                &[disabled] + .Toggle__toggleButton {
                    background-color: var(--color-success-20);
                }
            }
        }
    }

    &__text {
        padding: var(--spacing-normal) 0 var(--spacing-normal) var(--spacing-2x);
    }

    &--disabled {
        cursor: not-allowed;
    }
}

