.SelectBase {
    position: relative;
    min-height: 34px;
    height: 34px;
    font-size: var(--font-size-normal);
    color: var(--color-foreground);

    &__main {
        position: relative;
        background-color: var(--color-background);
        transition-property: box-shadow, transform, border-color;
        transition-duration: var(--transition-duration);
        border-radius: var(--border-radius);

        &--focused {
            position: absolute;
            z-index: 400;
            width: 100%;
        }
    }

    &__field {
        padding: 0;
    }

    &__spacedElem {
        margin: var(--spacing-normal);
    }

    &__list--focused {
        max-height: 300px;
        overflow: auto;
        border-top: 1px solid var(--color-neutral-25);
        margin-top: -1px;
    }

    &__loaderContainer {
        width: 250px;
    }
}
