.PaginationButton {
    transition: none;

    + .PaginationButton {
        margin-left: var(--spacing-normal);
    }

    &:hover {
        color: var(--color-background);
        background-color: var(--color-primary);
        text-decoration: none;
    }

    &--isActive {
        color: var(--color-background);
        background-color: var(--color-secondary);
        cursor: auto;

        &:hover {
            color: var(--color-background);
            background-color: var(--color-secondary);
            text-decoration: none;
        }
    }
}
