$contexts: (neutral, primary, info, success, warning, danger);

@mixin context-attribute-with-color($attribute, $extra: ()) {
    &--context {
        @each $context in join($contexts, $extra) {
            &_#{ $context } {
                #{$attribute}: var(--color-#{$context});
            }
        }
    }
}
