@import '../../themes/oneui/oneui.scss';

@keyframes progressAnimated {
    0% {
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}

.ProgressBar {
    background-color: var(--color-neutral-10);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font: {
        family: var(--font-family-primary);
        size: var(--progress-font-size);
        weight: var(--font-weight-bold);
    }
    margin: var(--spacing-normal) 0;

    &__fill {
        border-radius: var(--border-radius);
        box-sizing: border-box;
        color: var(--color-background);
        padding: 0 var(--spacing-2x);
        position: relative;
        text-align: center;
        transition: all var(--transition-duration);
        white-space: nowrap;
        background-color: var(--color-bright-2);
        line-height: var(--line-height-large);

        &--animated {
            &:after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.3);
                animation: progressAnimated 2s ease infinite;
            }
        }

        &--small {
            padding: 0;
            height: var(--spacing-2x);
        }
    }

    &--hidden {
        display: none;
    }

    &--small {
        height: var(--spacing-2x);
    }
}
