.FieldWrapper {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--border-color-strong);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: var(--spacing-normal);
    transition: all var(--transition-duration);
    display: flex;
    align-items: center;

    &__clearButton {
        position: absolute;
        top: var(--spacing-3x);
        right: var(--spacing-normal);
        display: none;
        max-width: 30%;
        margin-left: auto;
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: var(--color-background);
        transition: all var(--transition-duration);

        &--rightIndent {
            margin-right: 20px;
        }
    }

    &__content {
        width: 100%;
    }

    &__dropdownIcon {
        position: absolute;
        top: var(--spacing-3x);
        right: var(--spacing-normal);
        font-size: 20px;
        pointer-events: none;
    }

    &--isFocused,
    &:focus {
        border-color: var(--color-brand);
        outline: none;
    }

    &:hover:not(.FieldWrapper--disabled) {
        border-color: var(--color-brand);

        & .FieldWrapper__content {
            overflow: hidden;
        }

        & .FieldWrapper__clearButton {
            display: block;
        }
    }

    &--disabled {
        cursor: not-allowed;
    }
}
