.FieldWrapper {
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--color-neutral-20);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: var(--space-50);
    transition: all var(--transition-duration);
    display: flex;
    align-items: center;
    color: var(--color-acent);

    &__clearButton {
        display: none;
        max-width: 30%;
        margin-right: var(--space-75);
        margin-left: auto;
        padding: var(--space-50);
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: var(--color-background);
        transition: all var(--transition-duration);

        &--rightIndent {
            margin-right: 20px;
        }
    }

    &__content {
        width: 100%;

        .ListItem:hover:not(.ListItem--disabled) {
            background-color: var(--color-neutral-10);
        }
    }

    &__dropdownIcon {
        position: absolute;
        top: var(--space-100);
        right: var(--space-50);
        font-size: 20px;
    }

    &--isFocused,
    &:focus {
        border-color: var(--color-brand-50);
        outline: none;
    }

    &:hover:not(.FieldWrapper--disabled) {
        border-color: var(--color-brand-50);

        & .FieldWrapper__content {
            overflow: hidden;
        }

        & .FieldWrapper__clearButton {
            display: flex;
        }
    }

    &--disabled {
        cursor: not-allowed;
    }
}
