@use 'sass:math';
@use 'sass:color';

// Basic colors
$transparent: transparent !default;

$color-background: #fff !default;
$color-foreground: #1d1d1b !default;

$color-neutral: #d0d1d5 !default;
$color-muted: #b3b2b2 !default;
$color-brand: #0097d1 !default;
$color-primary: #f18700 !default;
$color-accent: #182642 !default;
$color-info: #60c4de !default;
$color-good: #5cb85c !default;
$color-warning: #ffb819 !default;
$color-bad: #f42534 !default;

:root {
    @each $context,
        $value in (
            background: $color-background,
            foreground: $color-foreground,
            neutral: $color-neutral,
            muted: $color-muted,
            brand: $color-brand,
            primary: $color-primary,
            accent: $color-accent,
            info: $color-info,
            good: $color-good,
            warning: $color-warning,
            bad: $color-bad
        )
    {
        --color-#{ $context }: #{$value};
    }

    // Shades
    @each $context,
        $value in (
            neutral: $color-neutral,
            brand: $color-brand,
            primary: $color-primary,
            accent: $color-accent,
            info: $color-info,
            good: $color-good,
            warning: $color-warning,
            bad: $color-bad
        )
    {
        @each $factor in (20, 50, 80) {
            --color-#{ $context }-#{ 50 - math.div($factor, 2) }: #{color.mix(
                $color-background,
                $value,
                $factor
            )};
            --color-#{ $context }-#{ 50 + math.div($factor, 2) }: #{color.mix(
                $color-foreground,
                $value,
                $factor
            )};
        }
    }

    --transparent: #{$transparent};
    --link-color-normal: var(--color-brand);
    --link-color-hover: var(--color-brand-40);

    --border-color-light: var(--color-neutral-25);
    --border-color-strong: var(--color-neutral-40);

    --color-highlight-background: #{color.mix($color-background, $color-brand, 90)};
    --color-selection-background: #{color.mix($color-background, $color-brand, 90)};
}
