@use 'sass:math';
@use 'sass:color';

$transparent: transparent !default;

// Base colors
$color-background: #fff !default;
$color-foreground: #2d3234 !default;

$color-neutral: #46494B !default;
$color-light: #D0D3D5 !default;
$color-primary: #0097d1 !default;

//Context colors
$color-info: #63dfec !default;
$color-success: #5cb85c !default;
$color-warning: #ffb819 !default;
$color-danger: #f42534 !default;

:root {
    @each $context,
        $value in (
            neutral: $color-neutral,
            primary: $color-primary,
            light: $color-light,
            info: $color-info,
            success: $color-success,
            warning: $color-warning,
            danger: $color-danger
        )
    {
        --color-#{ $context }: #{$value};
    }

    // Shades
    @each $context,
        $value in (
            neutral: $color-neutral,
            primary: $color-primary,
            light: $color-light,
            info: $color-info,
            success: $color-success,
            warning: $color-warning,
            danger: $color-danger
        )
    {
        @each $factor in (20, 50, 80) {
            --color-#{ $context }-#{ 50 - math.div($factor, 2) }: #{color.mix(
                $color-background,
                $value,
                $factor * 1%
            )};
            --color-#{ $context }-#{ 50 + math.div($factor, 2) }: #{color.mix(
                $color-foreground,
                $value,
                $factor * 1%
            )};
        }
    }

    --transparent: #{$transparent};
    --color-background: #{$color-background};
    --color-foreground: #{$color-foreground};

    --color-highlight-background: #{color.mix($color-background, $color-primary, 90%)};
    --color-shadow-background: #{color.mix($color-neutral, $color-background, 20%)};
}
