@use 'sass:math';
@use 'sass:color';

$transparent: transparent !default;

// Base colors
$color-background: #fff !default;
$color-foreground: #2d3234 !default;

$color-neutral: #46494B !default;
$color-light: #D0D3D5 !default;
$color-primary: #0097d1 !default;

//Context colors
$color-success: #5cb85c !default;
$color-warning: #ffb819 !default;
$color-danger: #f42534 !default;

// Accent colors
$color-accent-10: #FEE8D5 !default;
$color-accent-20: #FCD1AA !default;
$color-accent-30: #FBBB80 !default;
$color-accent-40: #F9A455 !default;
$color-accent-50: #F88D2B !default;
$color-accent-60: #C67122 !default;
$color-accent-70: #95551A !default;
$color-accent-80: #633811 !default;
$color-accent-90: #321C09 !default;

// AI colors
$color-ai-10: #EEEEFB !default;
$color-ai-20: #CDCCF3 !default;
$color-ai-30: #ACABEB !default;
$color-ai-40: #8A89E2 !default;
$color-ai-50: #5856D6 !default;
$color-ai-60: #4645AB !default;
$color-ai-70: #353480 !default;
$color-ai-80: #232256 !default;
$color-ai-90: #12112B !default;

// Message level colors
$color-info-10: #EEEEFB !default;
$color-info-20: #B3D7FF !default;
$color-info-30: #80BDFF !default;
$color-info-40: #4DA2FF !default;
$color-info-50: #007AFF !default;
$color-info-60: #0062CC !default;
$color-info-70: #004999 !default;
$color-info-80: #003166 !default;
$color-info-90: #001833 !default;


:root {
    @each $context,
        $value in (
            neutral: $color-neutral,
            primary: $color-primary,
            light: $color-light,
            success: $color-success,
            warning: $color-warning,
            danger: $color-danger
        )
    {
        --color-#{ $context }: #{$value};
    }

    --color-accent-10: #{$color-accent-10};
    --color-accent-20: #{$color-accent-20};
    --color-accent-30: #{$color-accent-30};
    --color-accent-40: #{$color-accent-40};
    --color-accent-50: #{$color-accent-50};
    --color-accent-60: #{$color-accent-60};
    --color-accent-70: #{$color-accent-70};
    --color-accent-80: #{$color-accent-80};
    --color-accent-90: #{$color-accent-90};

    --color-ai-10: #{$color-ai-10};
    --color-ai-20: #{$color-ai-20};
    --color-ai-30: #{$color-ai-30};
    --color-ai-40: #{$color-ai-40};
    --color-ai-50: #{$color-ai-50};
    --color-ai-60: #{$color-ai-60};
    --color-ai-70: #{$color-ai-70};
    --color-ai-80: #{$color-ai-80};
    --color-ai-90: #{$color-ai-90};

    --color-info-10: #{$color-info-10};
    --color-info-20: #{$color-info-20};
    --color-info-30: #{$color-info-30};
    --color-info-40: #{$color-info-40};
    --color-info-50: #{$color-info-50};
    --color-info-60: #{$color-info-60};
    --color-info-70: #{$color-info-70};
    --color-info-80: #{$color-info-80};
    --color-info-90: #{$color-info-90};

    --transparent: #{$transparent};
    --color-background: #{$color-background};
    --color-foreground: #{$color-foreground};

    --color-highlight-background: #{color.mix($color-background, $color-primary, 90%)};
    --color-shadow-background: #{color.mix($color-neutral, $color-background, 20%)};
}
