@use 'sass:math';

// Basic colors
$transparent: transparent !default;

$color-background: #fff !default;
$color-foreground: #1d1d1b !default;
$color-accent: #f18700 !default;

$color-neutral: #d0d1d5 !default;
$color-muted: #b3b2b2 !default;
$color-primary: #0097d1 !default;
$color-secondary: #182642 !default;
$color-good: #5cb85c !default;
$color-warning: #ffb819 !default;
$color-bad: #f42534 !default;

:root {
    @each $context,
        $value in (
            background: $color-background,
            foreground: $color-foreground,
            accent: $color-accent,
            neutral: $color-neutral,
            muted: $color-muted,
            primary: $color-primary,
            secondary: $color-secondary,
            good: $color-good,
            warning: $color-warning,
            bad: $color-bad
        )
    {
        --color-#{ $context }: #{$value};
    }

    // Shades
    @each $context,
        $value in (
            neutral: $color-neutral,
            primary: $color-primary,
            secondary: $color-secondary,
            good: $color-good,
            warning: $color-warning,
            bad: $color-bad
        )
    {
        @each $factor in (20, 50, 80) {
            --color-#{ $context }-#{ 50 - math.div($factor, 2) }: #{mix(
                $color-background,
                $value,
                $factor
            )};
            --color-#{ $context }-#{ 50 + math.div($factor, 2) }: #{mix(
                $color-foreground,
                $value,
                $factor
            )};
        }
    }

    --transparent: #{$transparent};
    --link-color-normal: var(--color-primary);
    --link-color-hover: var(--color-primary-40);

    --border-color-light: var(--color-neutral-25);
    --border-color-strong: var(--color-neutral-40);

    --color-highlight-background: #{mix($color-background, $color-primary, 90)};
    --color-selection-background: #{mix($color-background, $color-primary, 90)};
    --color-shadow-background: #{mix($color-foreground, $color-background, 50)};
}
