@use 'sass:math';
@use 'sass:color';

$transparent: transparent !default;

// Base colors
$color-background: #fff !default;
$color-foreground: #2d3234 !default;

$color-primary: #0097d1 !default;

// Accent colors
$color-accent-10: #FEE8D5 !default;
$color-accent-20: #FCD1AA !default;
$color-accent-30: #FBBB80 !default;
$color-accent-40: #F9A455 !default;
$color-accent-50: #F88D2B !default;
$color-accent-60: #C67122 !default;
$color-accent-70: #95551A !default;
$color-accent-80: #633811 !default;
$color-accent-90: #321C09 !default;

// Neutral colors
$color-neutral-0: #ffffff !default;
$color-neutral-5: #F3F3F3 !default;
$color-neutral-10: #E6E6E6 !default;
$color-neutral-20: #CCCCCC !default;
$color-neutral-30: #B3B3B3 !default;
$color-neutral-40: #999999 !default;
$color-neutral-50: #808080 !default;
$color-neutral-60: #666666 !default;
$color-neutral-70: #4D4D4D !default;
$color-neutral-80: #333333 !default;
$color-neutral-90: #1A1A1A !default;
$color-neutral-100: #000000 !default;
$color-neutral-100-20: #00000020 !default;
$color-neutral-100-80: #00000080 !default;

// AI colors
$color-ai-10: #EEEEFB !default;
$color-ai-20: #CDCCF3 !default;
$color-ai-30: #ACABEB !default;
$color-ai-40: #8A89E2 !default;
$color-ai-50: #5856D6 !default;
$color-ai-60: #4645AB !default;
$color-ai-70: #353480 !default;
$color-ai-80: #232256 !default;
$color-ai-90: #12112B !default;

// Context colors
$color-info-10: #E6F2FF !default;
$color-info-20: #B3D7FF !default;
$color-info-30: #80BDFF !default;
$color-info-40: #4DA2FF !default;
$color-info-50: #007AFF !default;
$color-info-60: #0062CC !default;
$color-info-70: #004999 !default;
$color-info-80: #003166 !default;
$color-info-90: #001833 !default;

$color-success-10: #EBF9EE !default;
$color-success-20: #C2EECD !default;
$color-success-30: #9AE3AC !default;
$color-success-40: #71D88B !default;
$color-success-50: #34C759 !default;
$color-success-60: #2A9F47 !default;
$color-success-70: #1F7735 !default;
$color-success-80: #155024 !default;
$color-success-90: #0A2812 !default;

$color-cautious-10: #FFFAE6 !default;
$color-cautious-20: #FFF0B3 !default;
$color-cautious-30: #FFE680 !default;
$color-cautious-40: #FFDB4D !default;
$color-cautious-50: #FFCC01 !default;
$color-cautious-60: #CCA301 !default;
$color-cautious-70: #997A01 !default;
$color-cautious-80: #665200 !default;
$color-cautious-90: #332900 !default;

$color-critical-10: #FFEBEA !default;
$color-critical-20: #FFC4C1 !default;
$color-critical-30: #FF9D97 !default;
$color-critical-40: #FF766D !default;
$color-critical-50: #FF3B2F !default;
$color-critical-60: #CC2F26 !default;
$color-critical-70: #99231C !default;
$color-critical-80: #661813 !default;
$color-critical-90: #330C09 !default;


:root {
    @each $context,
        $value in (
            primary: $color-primary,
        )
    {
        --color-#{ $context }: #{$value};
    }

    --color-neutral-0: #{$color-neutral-0};
    --color-neutral-5: #{$color-neutral-5};
    --color-neutral-10: #{$color-neutral-10};
    --color-neutral-20: #{$color-neutral-20};
    --color-neutral-30: #{$color-neutral-30};
    --color-neutral-40: #{$color-neutral-40};
    --color-neutral-50: #{$color-neutral-50};
    --color-neutral-60: #{$color-neutral-60};
    --color-neutral-70: #{$color-neutral-70};
    --color-neutral-80: #{$color-neutral-80};
    --color-neutral-90: #{$color-neutral-90};
    --color-neutral-100: #{$color-neutral-100};
    --color-neutral-100-20: #{$color-neutral-100-20};
    --color-neutral-100-80: #{$color-neutral-100-80};

    --color-accent-10: #{$color-accent-10};
    --color-accent-20: #{$color-accent-20};
    --color-accent-30: #{$color-accent-30};
    --color-accent-40: #{$color-accent-40};
    --color-accent-50: #{$color-accent-50};
    --color-accent-60: #{$color-accent-60};
    --color-accent-70: #{$color-accent-70};
    --color-accent-80: #{$color-accent-80};
    --color-accent-90: #{$color-accent-90};

    --color-ai-10: #{$color-ai-10};
    --color-ai-20: #{$color-ai-20};
    --color-ai-30: #{$color-ai-30};
    --color-ai-40: #{$color-ai-40};
    --color-ai-50: #{$color-ai-50};
    --color-ai-60: #{$color-ai-60};
    --color-ai-70: #{$color-ai-70};
    --color-ai-80: #{$color-ai-80};
    --color-ai-90: #{$color-ai-90};

    --color-info-10: #{$color-info-10};
    --color-info-20: #{$color-info-20};
    --color-info-30: #{$color-info-30};
    --color-info-40: #{$color-info-40};
    --color-info-50: #{$color-info-50};
    --color-info-60: #{$color-info-60};
    --color-info-70: #{$color-info-70};
    --color-info-80: #{$color-info-80};
    --color-info-90: #{$color-info-90};

    --color-success-10: #{$color-success-10};
    --color-success-20: #{$color-success-20};
    --color-success-30: #{$color-success-30};
    --color-success-40: #{$color-success-40};
    --color-success-50: #{$color-success-50};
    --color-success-60: #{$color-success-60};
    --color-success-70: #{$color-success-70};
    --color-success-80: #{$color-success-80};
    --color-success-90: #{$color-success-90};

    --color-cautious-10: #{$color-cautious-10};
    --color-cautious-20: #{$color-cautious-20};
    --color-cautious-30: #{$color-cautious-30};
    --color-cautious-40: #{$color-cautious-40};
    --color-cautious-50: #{$color-cautious-50};
    --color-cautious-60: #{$color-cautious-60};
    --color-cautious-70: #{$color-cautious-70};
    --color-cautious-80: #{$color-cautious-80};
    --color-cautious-90: #{$color-cautious-90};

    --color-critical-10: #{$color-critical-10};
    --color-critical-20: #{$color-critical-20};
    --color-critical-30: #{$color-critical-30};
    --color-critical-40: #{$color-critical-40};
    --color-critical-50: #{$color-critical-50};
    --color-critical-60: #{$color-critical-60};
    --color-critical-70: #{$color-critical-70};
    --color-critical-80: #{$color-critical-80};
    --color-critical-90: #{$color-critical-90};

    --transparent: #{$transparent};
    --color-background: #{$color-background};
    --color-foreground: #{$color-foreground};

    --color-highlight-background: #{color.mix($color-background, $color-primary, 90%)};
    --color-shadow-background: #{color.mix($color-neutral-70, $color-background, 20%)};
}
