@use 'sass:math';
@use 'sass:color';

$color-background: #fff !default;
$color-brand-50: #0097D1 !default;
$color-neutral-70: #4D4D4D !default;

:root {
    // Primary colors
    --color-brand-5: #E6F5FA;
    --color-brand-10: #CCEAF6;
    --color-brand-20: #99D5ED;
    --color-brand-30: #66C1E3;
    --color-brand-40: #33ACDA;
    --color-brand-50: #0097D1;
    --color-brand-60: #0079A7;
    --color-brand-70: #005B7D;
    --color-brand-80: #003C54;
    --color-brand-90: #001E2A;

    // Accent colors
    --color-accent-5: #FEF4EA;
    --color-accent-10: #FEE8D5;
    --color-accent-20: #FCD1AA;
    --color-accent-30: #FBBB80;
    --color-accent-40: #F9A455;
    --color-accent-50: #F88D2B;
    --color-accent-60: #C67122;
    --color-accent-70: #95551A;
    --color-accent-80: #633811;
    --color-accent-90: #321C09;

    // Neutral colors
    --color-neutral-0: #ffffff;
    --color-neutral-5: #F2F2F2;
    --color-neutral-10: #E6E6E6;
    --color-neutral-20: #CCCCCC;
    --color-neutral-30: #B3B3B3;
    --color-neutral-40: #999999;
    --color-neutral-50: #808080;
    --color-neutral-60: #666666;
    --color-neutral-70: #4D4D4D;
    --color-neutral-80: #333333;
    --color-neutral-90: #1A1A1A;
    --color-neutral-100: #000000;

    // AI colors
    --color-ai-5: #EEEEFB;
    --color-ai-10: #DEDDF7	;
    --color-ai-20: #BCBBEF;
    --color-ai-30: #9B9AE6;
    --color-ai-40: #7978DE;
    --color-ai-50: #5856D6;
    --color-ai-60: #4645AB;
    --color-ai-70: #353480;
    --color-ai-80: #232256;
    --color-ai-90: #12112B;

    // Context colors
    --color-info-5: #E6F2FF;
    --color-info-10: #CCE4FF;
    --color-info-20: #99CAFF;
    --color-info-30: #66AFFF;
    --color-info-40: #3395FF;
    --color-info-50: #007AFF;
    --color-info-60: #0062CC;
    --color-info-70: #004999;
    --color-info-80: #003166;
    --color-info-90: #001833;

    --color-success-5: #EBF9EE;
    --color-success-10: #D6F4DE;
    --color-success-20: #AEE9BD;
    --color-success-30: #85DD9B;
    --color-success-40: #5DD27A;
    --color-success-50: #34C759;
    --color-success-60: #2A9F47;
    --color-success-70: #1F7735;
    --color-success-80: #155024;
    --color-success-90: #0A2812;

    --color-cautious-5: #FFFAE6;
    --color-cautious-10: #FFF5CC;
    --color-cautious-20: #FFEB99;
    --color-cautious-30: #FFE067;
    --color-cautious-40: #FFD634;
    --color-cautious-50: #FFCC01;
    --color-cautious-60: #CCA301;
    --color-cautious-70: #997A01;
    --color-cautious-80: #665200;
    --color-cautious-90: #332900;

    --color-critical-5: #FFEBEA;
    --color-critical-10: #FFD8D5;
    --color-critical-20: #FFB1AC;
    --color-critical-30: #FF8982;
    --color-critical-40: #FF6259;
    --color-critical-50: #FF3B2F;
    --color-critical-60: #CC2F26;
    --color-critical-70: #99231C;
    --color-critical-80: #661813;
    --color-critical-90: #330C09;

    --transparent: transparent;
    --transparent-100-20: rgba(0, 0, 0, .2);
    --transparent-100-50: rgba(0, 0, 0, .5);
    --transparent-100-70: rgba(0, 0, 0, .7);
    --transparent-100-80: rgba(0, 0, 0, .8);

    // Base colors
    --color-background: #fff;
    --color-foreground: #2d3234;

    --color-highlight-background: #{color.mix($color-background, $color-brand-50, 90%)};
    --color-shadow-background: #{color.mix($color-neutral-70, $color-background, 20%)};
}
