:root {
    --header-background-color: var(--color-background);
    --header-foreground-color: var(--color-foreground);
    --header-height: 50px;
    --header-content-height: calc(var(--header-height) - 10px);

    --footer-background-color: var(--color-primary-50);
    --footer-foreground-color: var(--color-background);
    --footer-link-color: var(--color-neutral-60);
    --footer-height: 100px;

    --navigation-height: 48px;
}
