$transition-duration: .3s;

// ProgressBar variables
$progress-background-color: var(--color-neutral-25) !default;
$progress-font-size: var(--font-size-small) !default;
$progress-label-color: var(--color-background) !default;

// Drawer variables
$drawer-width: 400px;
$drawer-z-index: 800;
$drawer-head-background-color: #333 !default;
$drawer-expand-active-background-color: #797777 !default;
$drawer-expand-hover-background-color: #565656 !default;

:root {
    --transition-duration: #{ $transition-duration };

    --progress-background-color: #{ $progress-background-color };
    --progress-font-size: #{ $progress-font-size };
    --progress-label-color: #{ $progress-label-color };

    --drawer-width: #{ $drawer-width };
    --drawer-z-index: #{ $drawer-z-index };
    --drawer-head-background-color: #{ $drawer-head-background-color };
    --drawer-expand-active-background-color: #{ $drawer-expand-active-background-color };
    --drawer-expand-hover-background-color: #{ $drawer-expand-hover-background-color };
}
