// borders
$border-radius: 3px !default; // base

// lines
$line-normal: 1px !default; // base
$line-medium: 1.5 * $line-normal !default; // computed
$line-thick: 2 * $line-normal !default; // computed

// outlines
$outline-size: 3px; // base

// spacing
$spacing-normal: 3px !default; // base
$spacing-2x: 2 * $spacing-normal !default; // computed
$spacing-3x: 3 * $spacing-normal !default; // computed
$spacing-4x: 4 * $spacing-normal !default; // computed
$spacing-5x: 5 * $spacing-normal !default; // computed

$margin: 0.5 * $spacing-normal !default; // computed

// containers
$site-container-min-size: 1150px !default; // base
$site-container-max-size: 1400px !default; // base
$site-container-padding: 20px !default; // base

$two-pane-left-width: 550px !default; // base

// SearchButton size
$search-button-size: 36px !default; // base

// StepperButton size
$stepper-button-size: 24px !default; // base

:root {
    --border-radius: #{$border-radius};

    --line-normal: #{$line-normal};
    --line-medium: #{$line-medium};
    --line-thick: #{$line-thick};

    --outline-size: #{$outline-size};

    --spacing-normal: #{$spacing-normal};
    --spacing-2x: #{$spacing-2x};
    --spacing-3x: #{$spacing-3x};
    --spacing-4x: #{$spacing-4x};
    --spacing-5x: #{$spacing-5x};

    --margin: #{$margin};

    --site-container-min-size: #{$site-container-min-size};
    --site-container-max-size: #{$site-container-max-size};
    --site-container-padding: #{$site-container-padding};

    --two-pane-left-width: #{$two-pane-left-width};

    --search-button-size: #{$search-button-size};
    --stepper-button-size: #{$stepper-button-size};
}
