// borders
$border-radius: 3px !default;

// lines
$line-normal: 1px !default;
$line-medium: 1.5 * $line-normal !default;
$line-thick: 2 * $line-normal !default;

// outlines
$outline-size: 3px;

// spacing
$spacing-normal: 3px !default;
$spacing-2x: 2 * $spacing-normal !default;
$spacing-3x: 3 * $spacing-normal !default;
$spacing-4x: 4 * $spacing-normal !default;
$spacing-5x: 5 * $spacing-normal !default;

$margin: 0.5 * $spacing-normal !default;

// containers
$site-container-min-size: 1150px !default;
$site-container-max-size: 1400px !default;
$site-container-padding: 20px !default;

$two-pane-left-width: 550px !default;

// SearchButton size
$search-button-size: 36px !default;

:root {
    --border-radius: #{$border-radius};

    --line-normal: #{$line-normal};
    --line-medium: #{$line-medium};
    --line-thick: #{$line-thick};

    --outline-size: #{$outline-size};

    --spacing-normal: #{$spacing-normal};
    --spacing-2x: #{$spacing-2x};
    --spacing-3x: #{$spacing-3x};
    --spacing-4x: #{$spacing-4x};
    --spacing-5x: #{$spacing-5x};

    --margin: #{$margin};

    --site-container-min-size: #{$site-container-min-size};
    --site-container-max-size: #{$site-container-max-size};
    --site-container-padding: #{$site-container-padding};

    --two-pane-left-width: #{$two-pane-left-width};

    --search-button-size: #{$search-button-size};
}
