:root {
    --border-width-thick: 2px;
    --border-radius: 3px;

    --line-normal: 1px;

    --space-0: 0px;
    --space-25: calc(0.25 * var(--space-100));
    --space-50: calc(0.5 * var(--space-100));
    --space-75: calc(0.75 * var(--space-100));
    --space-100: 8px;
    --space-150: calc(1.5 * var(--space-100));
    --space-200: calc(2 * var(--space-100));
    --space-250: calc(2.5 * var(--space-100));
    --space-300: calc(3 * var(--space-100));
    --space-400: calc(4 * var(--space-100));
    --space-500: calc(5 * var(--space-100));
    --space-600: calc(6 * var(--space-100));
    --space-800: calc(8 * var(--space-100));
    --space-1000: calc(10 * var(--space-100));

    --margin: var(--space-25);

    --site-container-min-size: 1150px;
    --site-container-max-size: 1400px;
    --site-container-padding: 20px;

    --two-pane-left-width: 550px;

    --search-button-size: 36px;
    --stepper-button-size: 24px;
}
