@import '../fonts/NotoSans';

// fonts sizes
$font-size-base: 14px !default;
$font-size-x-small: 10px !default;
$font-size-small: 12px !default;
$font-size-normal: 14px !default;
$font-size-large: 16.8px !default;

$line-height-x-small: 1.4 * $font-size-x-small !default;
$line-height-small: 1.4 * $font-size-small !default;
$line-height-normal: 1.4 * $font-size-normal !default;
$line-height-large: 1.4 * $font-size-large !default;

$h1-font-size: 24px !default;
$h2-font-size: 18px !default;
$h3-font-size: 16px !default;
$h4-font-size: 14px !default;
$h5-font-size: 12px !default;
$h6-font-size: 10px !default;

$font-family-primary: 'Noto Sans', 'Noto Sans JP', "Noto Sans Hebrew", sans-serif !default;
$font-family-secondary: 'Noto Sans', 'Noto Sans JP', "Noto Sans Hebrew", sans-serif !default;

// font weight
$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

// decoration
$link-decoration-normal: none !default;
$link-decoration-hover: underline !default;

// other
$heading-font-family: $font-family-secondary !default;
$heading-font-weight: $font-weight-bold !default;

:root {
    --font-size-base: #{$font-size-base};
    --font-size-x-small: #{$font-size-x-small};
    --font-size-small: #{$font-size-small};
    --font-size-normal: #{$font-size-normal};
    --font-size-large: #{$font-size-large};

    --line-height-x-small: #{$line-height-x-small};
    --line-height-small: #{$line-height-small};
    --line-height-normal: #{$line-height-normal};
    --line-height-large: #{$line-height-large};

    --h1-font-size: #{$h1-font-size};
    --h2-font-size: #{$h2-font-size};
    --h3-font-size: #{$h3-font-size};
    --h4-font-size: #{$h4-font-size};
    --h5-font-size: #{$h5-font-size};
    --h6-font-size: #{$h6-font-size};

    --font-family-primary: #{$font-family-primary};
    --font-family-secondary: #{$font-family-secondary};

    --font-weight-light: #{$font-weight-light};
    --font-weight-normal: #{$font-weight-normal};
    --font-weight-medium: #{$font-weight-medium};
    --font-weight-bold: #{$font-weight-bold};

    --link-decoration-normal: #{$link-decoration-normal};
    --link-decoration-hover: #{$link-decoration-hover};

    --heading-font-family: #{$heading-font-family};
    --heading-font-weight: #{$heading-font-weight};
}
