@import '../fonts/NotoSans';

:root {
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-normal: var(--font-size-base);
    --font-size-large: 16.8px;

    --line-height-small: calc(1.4 * var(--font-size-small));
    --line-height-normal: calc(1.4 * var(--font-size-normal));
    --line-height-large: calc(1.4 * var(--font-size-large));

    --h1-font-size: 24px;
    --h2-font-size: 18px;
    --h3-font-size: 16px;
    --h4-font-size: 14px;
    --h5-font-size: 12px;
    --h6-font-size: 10px;

    --font-family-primary: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans Hebrew',
        sans-serif;

    --font-weight-normal: 400;
    --font-weight-bold: 600;

    --link-decoration-normal: none;
    --link-decoration-hover: underline;

    --heading-font-family: var(--font-family-primary);
    --heading-font-weight: var(--font-weight-bold);
}
