@import '../../themes/oneui/oneui.scss';

.Gauge {
    position: relative;

    &__svg {
        transform: rotate(180deg);
    }

    &__circleBackground {
        stroke: var(--color-neutral-25);
        stroke-width: var(--spacing-2x);
        stroke-linecap: round;
        fill: none;
    }

    &__circleForeground {
        stroke-width: var(--spacing-4x);
        stroke-linecap: round;
        fill: none;
        transition: all var(--transition-duration) ease-out;

        &--isProgressLoading {
            opacity: 0;
        }
    }

    &__contentPlaceholder {
        margin-bottom: 0;
    }

    &__contentWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: var(--spacing-normal);
        transform: translate(-50%, -100%);
        text-align: center;

        &--isContentLoading {
            width: 100px;
        }
    }

    &__content {
        display: inline;
        font-size: var(--h1-font-size);
        font-weight: var(--font-weight-bold);
    }

    &__metric {
        display: block;
        width: 150px;
        font-size: var(--font-size-normal);
        font-weight: var(--font-weight-normal);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__note {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        color: var(--color-muted);
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-small);
    }

    @each $context in (append($contexts, "accent")) {
        &__gradientStart {
            &--context_#{ $context } {
                stop-color: var(--color-#{$context});
            }
        }

        &__gradientEnd {
            &--context_#{ $context } {
                stop-color: var(--color-#{$context}-25);
            }
        }
    }
}
