.Gauge {
    position: relative;

    &__svg {
        transform: rotate(180deg);
    }

    &__circleBackground {
        stroke: var(--color-neutral-30);
        stroke-width: var(--space-75);
        stroke-linecap: round;
        fill: none;
    }

    &__circleForeground {
        stroke: var(--color-brand-80);
        stroke-width: var(--space-150);
        stroke-linecap: round;
        fill: none;
        transition: all var(--transition-duration) ease-out;

        &--isProgressLoading {
            opacity: 0;
        }
    }

    &__contentPlaceholder {
        margin-bottom: 0;
    }

    &__contentWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: var(--space-50);
        transform: translate(-50%, -100%);
        text-align: center;

        &--isContentLoading {
            width: 100px;
        }
    }

    &__content {
        display: inline;
        composes: OneUI-body-text-bold from global;
    }

    &__metric {
        display: block;
        width: 150px;
        composes: OneUI-label-text from global;
        font-weight: var(--font-weight-normal);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__note {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        color: var(--color-neutral-30);
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        composes: OneUI-caption-text from global;
    }
}
