/* Colors */
$color-background: #FFF;
$color-light: #AAA;
$color-dark: #333;
$color-crazy: magenta;

/* Offsets */
$offset-tiny: 0.25em;
$offset-small: 0.5em;
$offset-normal: 1em;
$offset-large: 1.5em;
