@import '../../../themes/oneui/oneui.scss';

.BlockWidthRestrictor {
    min-width: var(--site-container-min-size);
    max-width: var(--site-container-max-size);
    padding: 0 var(--site-container-padding);
    margin: 0 auto;
}
