@import '../../themes/oneui/oneui';

.Link {
    color: var(--color-brand-50);
    text-decoration: var(--link-decoration-normal);
    transition: color var(--transition-duration);

    &:hover,
    &:focus {
        color: var(--color-brand-60);
        text-decoration: var(--link-decoration-hover);
    }

    &:focus {
        outline: none;
        border-radius: 5px;
        border: var(--color-brand-50) solid 2px;
    }

    &:active {
        color: var(--color-brand-80);
    }

    &--dontDecorateOnHover:hover {
        text-decoration: var(--link-decoration-normal);
    }

    &--isMuted {
        color: var(--color-neutral-30);

        &:hover {
            color: var(--color-neutral-30);
        }
    }
}
