.Link {
    color: var(--color-link-default);
    text-decoration: underline;

    &:focus-visible {
        outline: 2px solid var(--color-border-info-subtle-default, #66afff);
    }

    &:hover {
        color: var(--color-link-pressed, #004999);
    }

    &:visited {
        color: var(--color-link-visited-default, #003166);

        &:hover {
            color: var(--color-link-visited-pressed, #001833);
        }
    }

    &__icon {
        fill: currentColor;
        vertical-align: bottom;
        padding-right: var(--space-25);
    }
}
