.Link {
    color: var(--link-color-normal);
    text-decoration: var(--link-decoration-normal);
    transition: color var(--transition-duration);

    &:hover {
        color: var(--link-color-hover);
        text-decoration: var(--link-decoration-hover);
    }

    &--dontDecorateOnHover:hover {
        text-decoration: var(--link-decoration-normal);
    }

    &--context_muted {
        color: var(--color-light);

        &:hover {
            color: var(--color-light);
        }
    }
}
