name: Check
on:
  push:
    branches:
      - 'master'
  pull_request:
    types: [opened, reopened, synchronize, auto_merge_enabled]
    branches-ignore:
      - 'gh-pages'
jobs:
    install:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/npm-cache/
            - run: npm install --prefer-offline --ignore-scripts --no-audit
              shell: bash
    test:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/npm-cache/
            - run: npm run test:coverage -- -w 1 # set max workers to 1
            - uses: coverallsapp/github-action@v2.3.6
              with:
                github-token: ${{ github.token }}
    build:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/npm-cache/
            - run: npm run build:prod
    lint:
        needs: install
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/npm-cache/
            - run: npm run lint:ci
            - run: npm run lint:styles
