name: Deploy
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'    
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: ./.github/actions/npm-cache/
            - run: npm ci # fix job in GitLab, otherwise job will fail
            - name: Deploy storybook to Github Pages
              run: npm run storybook:deploy -- --ci
              env:
                  GH_TOKEN: Textkernel:${{ secrets.GITHUB_TOKEN }}
