name: RTL Migration
on:
  push:
    branches:
      - 'master'
jobs:
    enzyme-rtl-migration:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: ./.github/actions/npm-cache/
        - run: npm run measure-enzyme-to-rtl

