@import '../../../themes/oneui/oneui';

.NavItem {
    color: var(--color-neutral-80);
    display: flex;
    align-items: center;
    height: 100%;
    font: {
        size: var(--font-size-large);
        weight: var(--font-weight-bold);
    }
    box-sizing: border-box;
    padding: 0 var(--spacing-5x);
    transition: all var(--transition-duration);
    text-decoration: none;

    &:hover {
        color: var(--color-foreground);
        background-color: var(--color-neutral-20);
    }

    &__active,
    &--active {
        color: var(--color-primary);
        box-shadow: inset 0 -2px 0 var(--color-primary), 0 1px 0 var(--color-primary);

        &:hover {
            color: var(--color-primary);
            box-shadow: inset 0 -2px 0 var(--color-primary), 0 1px 0 var(--color-primary);
            background-color: var(--color-highlight-background);
        }
    }

    &--pullRight {
        margin-left: auto;
    }
}
